In [1]:
import sqlalchemy as db
from sqlalchemy import create_engine

In [2]:
engine = db.create_engine('sqlite:///C:\\Users\\peter\\Documents\\Projekte\\ZÃ¤hler\\tc_all_new.db')

In [3]:
conn = engine.connect()

In [4]:
import pandas as pd

In [5]:
pd.options.display.max_rows=2000

In [6]:
pd.options.display.max_columns

20

### Abfrage 1 - Anzahl Datenpunkte

In [7]:
query ='''
SELECT  *, strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
GROUP BY Year, Month
 '''

In [8]:
df = pd.read_sql_query(query, conn)

In [9]:
df.head(10)

,time,vfr11,s12,vfr21,s22,vfr1,s2,Year,Month,Day,Anzahl
0,2021-07-27 19:53:00+02:00,900.0,68.900002,0.0,0.0,0.0,0.0,2021,07,27,3407
1,2021-08-01 20:09:00+02:00,600.0,71.599998,0.0,0.0,0.0,0.0,2021,08,01,17262
2,2021-09-01 00:03:00+02:00,60.0,78.000000,0.0,0.0,0.0,0.0,2021,09,01,16613
3,2021-10-01 00:03:00+02:00,300.0,60.200001,0.0,0.0,0.0,0.0,2021,10,01,17250
4,2021-11-01 00:03:00+01:00,120.0,73.000000,0.0,0.0,0.0,0.0,2021,11,01,16612
5,2021-12-01 00:03:00+01:00,60.0,70.000000,60.0,74.0,0.0,0.0,2021,12,01,17059
6,2022-01-01 00:03:00+01:00,420.0,71.900002,0.0,0.0,0.0,0.0,2022,01,01,17500
7,2022-02-01 00:03:00+01:00,120.0,73.500000,0.0,0.0,0.0,0.0,2022,02,01,15845
8,2022-03-01 00:03:00+01:00,0.0,0.000000,0.0,0.0,0.0,0.0,2022,03,01,17640
9,2022-04-01 00:03:00+02:00,0.0,0.000000,0.0,0.0,0.0,0.0,2022,04,01,17276

### Abfrage 2 - Anzahl Datenpunkte mit Verkehrfluss vfr11

In [10]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr11 > 0
GROUP BY Year, Month
 '''

In [11]:
df = pd.read_sql_query(query, conn)

In [12]:
df.head(10)

   Year Month Day  Anzahl
0  2021    07  27    3373
1  2021    08  01   16789
2  2021    09  01   15799
3  2021    10  01   15983
4  2021    11  01   15495
5  2021    12  01   16243
6  2022    01  01   16045
7  2022    02  01   13084
8  2022    03  01   16615
9  2022    04  01   15882

In [13]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr11 IS NULL
GROUP BY Year, Month
 '''

In [14]:
df = pd.read_sql_query(query, conn)

In [15]:
df.head(10)

   Year Month Day  Anzahl
0  2021    08  11       6
1  2021    09  11       2
2  2021    11  25       4
3  2021    12  14       1
4  2022    01  04       4
5  2022    02  14      62
6  2022    05  06     121
7  2022    06  01      33

In [16]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr11 = 0
GROUP BY Year, Month
 '''

In [17]:
df = pd.read_sql_query(query, conn)

In [18]:
df.head(10)

   Year Month Day  Anzahl
0  2021    07  28      34
1  2021    08  01     467
2  2021    09  01     812
3  2021    10  01    1267
4  2021    11  01    1113
5  2021    12  01     815
6  2022    01  01    1451
7  2022    02  01    2699
8  2022    03  01    1025
9  2022    04  01    1394

### Abfrage 3 - Anzahl Datenpunkte mit Verkehrfluss vfr21

In [19]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr21 > 0
GROUP BY Year, Month
 '''

In [20]:
df = pd.read_sql_query(query, conn)

In [21]:
df.head(10)

   Year Month Day  Anzahl
0  2021    07  27    1979
1  2021    08  01    8357
2  2021    09  01    8324
3  2021    10  01    8156
4  2021    11  01    8407
5  2021    12  01    7572
6  2022    01  01    7449
7  2022    02  01    6915
8  2022    03  01    8949
9  2022    04  01    7628

In [22]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr21 IS NULL
GROUP BY Year, Month
 '''

In [23]:
df = pd.read_sql_query(query, conn)

In [24]:
df.head(10)

   Year Month Day  Anzahl
0  2021    08  11       6
1  2021    09  11       2
2  2021    11  25       4
3  2021    12  14       1
4  2022    01  04       4
5  2022    02  14      62
6  2022    05  06     121
7  2022    06  01      33

In [25]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr21 = 0
GROUP BY Year, Month
 '''

In [26]:
df = pd.read_sql_query(query, conn)

In [27]:
df.head(10)

   Year Month Day  Anzahl
0  2021    07  27    1428
1  2021    08  01    8899
2  2021    09  01    8287
3  2021    10  01    9094
4  2021    11  01    8201
5  2021    12  01    9486
6  2022    01  01   10047
7  2022    02  01    8868
8  2022    03  01    8691
9  2022    04  01    9648

### Abfrage 4 - Anzahl Datenpunkte mit Verkehrfluss vfr1

In [28]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr1 > 0
GROUP BY Year, Month
 '''

In [29]:
df = pd.read_sql_query(query, conn)

In [30]:
df.head(10)

Empty DataFrame
Columns: [Year, Month, Day, Anzahl]
Index: []

In [31]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr1 IS NULL
GROUP BY Year, Month
 '''

In [32]:
df = pd.read_sql_query(query, conn)

In [33]:
df.head(10)

   Year Month Day  Anzahl
0  2021    08  11       6
1  2021    09  11       2
2  2021    11  25       4
3  2021    12  14       1
4  2022    01  04       4
5  2022    02  14      62
6  2022    05  06     121
7  2022    06  01      33

In [34]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr1 = 0
GROUP BY Year, Month
 '''

In [35]:
df = pd.read_sql_query(query, conn)

In [36]:
df.head(10)

   Year Month Day  Anzahl
0  2021    07  27    3407
1  2021    08  01   17256
2  2021    09  01   16611
3  2021    10  01   17250
4  2021    11  01   16608
5  2021    12  01   17058
6  2022    01  01   17496
7  2022    02  01   15783
8  2022    03  01   17640
9  2022    04  01   17276

### Dh es gibt fÃ¼r diesen Fahrzeugtyp keine Daten von "anderen Fahrzeugen"

### Nun zu statistischen Werten (zunÃ¤chst mit 0 und NULL)

In [37]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl,
       ROUND(AVG(vfr11), 1) AS MEAN_Flow,
       MAX(vfr11) AS MAX_FLOW,
       MIN(vfr11) AS MIN_FLOW,
       ROUND(AVG(s12), 1) AS MEAN_Speed,
       MAX(s12) AS MAX_Speed,
       MIN(s12) AS MIN_Speed   
FROM tcdata_CH_0084_01
GROUP BY Year, Month
 '''

In [38]:
df = pd.read_sql_query(query, conn)

In [39]:
df.head(10)

,Year,Month,Day,Anzahl,MEAN_Flow,MAX_FLOW,MIN_FLOW,MEAN_Speed,MAX_Speed,MIN_Speed
0,2021,07,28,3407,1282.4,2700.0,0.0,65.7,90.0,0.0
1,2021,08,01,17262,1253.9,2880.0,0.0,61.6,113.0,0.0
2,2021,09,01,16613,1314.3,3000.0,0.0,58.6,112.5,0.0
3,2021,10,01,17250,1265.7,2820.0,0.0,56.7,116.0,0.0
4,2021,11,01,16612,1204.7,2940.0,0.0,57.3,131.0,0.0
5,2021,12,01,17059,1129.0,2760.0,0.0,60.4,144.0,0.0
6,2022,01,19,17500,1116.3,3000.0,0.0,60.0,144.0,-1.0
7,2022,02,01,15845,1098.4,3000.0,0.0,52.9,121.5,0.0
8,2022,03,01,17640,1152.2,3120.0,0.0,54.8,144.0,0.0
9,2022,04,01,17276,1146.5,2880.0,0.0,53.2,103.5,0.0

### ...dann bereinigt!

In [40]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl,
       ROUND(AVG(vfr11), 1) AS MEAN_Flow,
       MAX(vfr11) AS MAX_FLOW,
       MIN(vfr11) AS MIN_FLOW,
       ROUND(AVG(s12), 1) AS MEAN_Speed,
       MAX(s12) AS MAX_Speed,
       MIN(s12) AS MIN_Speed   
FROM tcdata_CH_0084_01
WHERE vfr11 > 0
GROUP BY Year, Month
 '''

In [41]:
df = pd.read_sql_query(query, conn)

In [42]:
df.head(10)

,Year,Month,Day,Anzahl,MEAN_Flow,MAX_FLOW,MIN_FLOW,MEAN_Speed,MAX_Speed,MIN_Speed
0,2021,07,28,3373,1295.3,2700.0,60.0,66.3,90.0,22.0
1,2021,08,26,16789,1288.8,2880.0,60.0,63.4,113.0,5.6
2,2021,09,03,15799,1381.9,3000.0,60.0,61.6,112.5,6.0
3,2021,10,26,15983,1366.1,2820.0,60.0,61.2,116.0,4.4
4,2021,11,29,15495,1291.2,2940.0,60.0,61.4,131.0,1.0
5,2021,12,08,16243,1185.6,2760.0,60.0,63.4,144.0,4.4
6,2022,01,19,16045,1217.3,3000.0,60.0,65.4,144.0,-1.0
7,2022,02,03,13084,1325.0,3000.0,60.0,63.8,121.5,2.0
8,2022,03,25,16615,1223.3,3120.0,60.0,58.2,144.0,3.7
9,2022,04,07,15882,1247.2,2880.0,60.0,57.8,103.5,4.3

### Weitere Detaillierung nach Tag

In [43]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl,
       ROUND(AVG(vfr11), 1) AS MEAN_Flow,
       MAX(vfr11) AS MAX_FLOW,
       MIN(vfr11) AS MIN_FLOW,
       ROUND(AVG(s12), 1) AS MEAN_Speed,
       MAX(s12) AS MAX_Speed,
       MIN(s12) AS MIN_Speed   
FROM tcdata_CH_0084_01
WHERE vfr11 > 0
GROUP BY Year, Month, Day
 '''

In [44]:
df = pd.read_sql_query(query, conn)

In [45]:
df.head(1000)

,Year,Month,Day,Anzahl,MEAN_Flow,MAX_FLOW,MIN_FLOW,MEAN_Speed,MAX_Speed,MIN_Speed
0,2021,07,27,49,557.1,900.0,120.0,69.2,80.699997,56.000000
1,2021,07,28,835,1290.5,2700.0,60.0,65.5,80.000000,22.000000
2,2021,07,29,842,1330.4,2520.0,60.0,66.5,90.000000,49.900002
3,2021,07,30,845,1349.0,2400.0,60.0,65.9,86.300003,33.000000
4,2021,07,31,802,1252.1,2460.0,60.0,67.3,81.000000,34.000000
5,2021,08,01,230,640.2,1260.0,60.0,68.6,85.000000,52.500000
6,2021,08,02,492,661.0,2400.0,60.0,68.7,104.000000,50.000000
7,2021,08,03,478,1406.1,2460.0,120.0,66.3,81.400002,52.900002
8,2021,08,04,560,1286.3,2760.0,60.0,64.2,93.000000,11.500000
9,2021,08,05,557,1342.8,2700.0,60.0,66.1,84.000000,41.700001
10,2021,08,06,568,1329.7,2760.0,60.0,66.3,100.000000,38.000000
11,2021,08,07,573,1015.7,2280.0,60.0,67.3,81.400002,52.200001
12,2021,08,08,571,852.6,1920.0,60.0,68.4,93.000000,51.700001
13,2021,08,09,566,1408.7,2880.0,60.0,63.4,100.000000,10.800000
14,2021,08,10,563,1414.5,2700.0,60.0,63.3,96.000000,11.100000
15,2021,08,11,561,1415.9,2880.0,60.0,61.1,94.000000,13.400000
16,2021,08,12,561,1474.8,2820.0,60.0,63.4,110.000000,11.700000
17,2021,08,13,565,1419.9,2460.0,60.0,60.6,87.000000,9.400000
18,2021,08,14,571,1158.9,2400.0,60.0,67.2,84.500000,47.799999
19,2021,08,15,572,937.6,2220.0,60.0,68.0,94.000000,45.000000
20,2021,08,16,564,1443.4,2580.0,60.0,61.3,97.000000,14.400000
21,2021,08,17,564,1420.7,2640.0,60.0,58.8,91.000000,13.100000
22,2021,08,18,562,1466.2,2700.0,60.0,59.6,85.000000,10.200000
23,2021,08,19,562,1479.4,2820.0,60.0,60.3,91.000000,14.600000
24,2021,08,20,565,1455.8,2580.0,60.0,57.0,81.000000,11.200000
25,2021,08,21,569,1198.0,2400.0,60.0,66.5,94.000000,42.000000
26,2021,08,22,568,895.8,2220.0,60.0,65.7,96.300003,42.299999
27,2021,08,23,556,1446.8,2880.0,60.0,61.3,97.000000,14.800000
28,2021,08,24,555,1452.8,2820.0,60.0,63.9,113.000000,27.600000
29,2021,08,25,563,1422.5,2640.0,60.0,58.4,97.000000,11.300000
30,2021,08,26,565,1473.3,2760.0,60.0,59.7,92.199997,5.600000
31,2021,08,27,559,1456.7,2640.0,60.0,57.0,91.500000,11.600000
32,2021,08,28,571,1196.0,2580.0,60.0,66.3,105.000000,49.400002
33,2021,08,29,442,1012.4,2160.0,60.0,66.5,103.000000,51.000000
34,2021,08,30,551,1468.0,2700.0,60.0,61.5,95.000000,25.200001
35,2021,08,31,485,1449.3,2700.0,60.0,61.2,82.300003,15.300000
36,2021,09,01,555,1468.3,2700.0,60.0,59.7,101.000000,15.400000
37,2021,09,02,394,1486.9,2520.0,60.0,56.2,74.099998,6.700000
38,2021,09,03,565,1472.1,2580.0,60.0,56.2,104.000000,6.000000
39,2021,09,04,572,1197.6,2640.0,60.0,66.1,86.699997,39.599998
40,2021,09,05,573,1011.1,2280.0,60.0,68.4,90.500000,57.200001
41,2021,09,06,546,1504.0,2820.0,60.0,61.7,88.000000,8.800000
42,2021,09,07,480,1675.0,2820.0,60.0,63.2,77.500000,12.300000
43,2021,09,08,491,1639.4,2580.0,60.0,58.8,79.599998,12.900000
44,2021,09,09,517,1592.6,2700.0,60.0,59.9,81.000000,14.900000
45,2021,09,10,566,1451.8,2940.0,60.0,56.7,101.000000,14.800000
46,2021,09,11,444,1103.9,2640.0,60.0,67.0,112.500000,50.099998
47,2021,09,12,559,987.2,2280.0,60.0,68.2,110.000000,48.500000
48,2021,09,13,553,1444.8,2640.0,60.0,61.1,85.000000,8.200000
49,2021,09,14,362,1518.2,3000.0,60.0,64.6,90.699997,23.000000
50,2021,09,15,560,1421.1,2640.0,60.0,57.6,83.000000,8.100000
51,2021,09,16,537,1474.0,2700.0,60.0,61.5,95.000000,12.300000
52,2021,09,17,566,1465.7,2700.0,60.0,58.2,105.000000,12.500000
53,2021,09,18,575,1190.2,2520.0,60.0,67.1,94.000000,36.000000
54,2021,09,19,568,851.7,1980.0,60.0,67.8,90.699997,47.000000
55,2021,09,20,563,1462.4,2760.0,60.0,60.8,97.000000,7.400000
56,2021,09,21,537,1512.6,2940.0,60.0,60.9,93.500000,14.200000
57,2021,09,22,507,1560.5,2640.0,60.0,61.6,81.000000,11.400000
58,2021,09,23,553,1490.7,2760.0,60.0,59.3,101.500000,7.700000
59,2021,09,24,548,1475.9,2700.0,60.0,59.4,108.000000,15.600000
60,2021,09,25,534,1187.0,2400.0,60.0,66.7,94.000000,54.000000
61,2021,09,26,562,905.4,2040.0,60.0,67.6,103.000000,48.000000
62,2021,09,27,506,1532.1,2760.0,60.0,61.5,83.199997,8.900000
63,2021,09,28,464,1581.5,2760.0,60.0,57.3,77.099998,13.000000
64,2021,09,29,506,1572.0,2700.0,60.0,56.3,79.000000,7.000000
65,2021,09,30,536,1450.9,2760.0,60.0,56.0,95.000000,8.700000
66,2021,10,01,533,1475.8,2580.0,60.0,55.6,96.000000,9.100000
67,2021,10,02,567,1205.8,2640.0,60.0,66.4,87.000000,40.799999
68,2021,10,03,541,950.5,2040.0,60.0,67.4,83.000000,34.299999
69,2021,10,04,418,1581.5,2580.0,120.0,59.7,75.800003,12.700000
70,2021,10,05,489,1586.3,2820.0,120.0,58.2,80.099998,14.800000
71,2021,10,06,516,1579.3,2640.0,120.0,59.4,77.500000,17.000000
72,2021,10,07,505,1596.4,2640.0,180.0,57.5,74.000000,12.800000
73,2021,10,08,568,1430.3,2640.0,60.0,57.4,77.300003,13.700000
74,2021,10,09,572,1190.9,2580.0,60.0,66.0,81.000000,53.000000
75,2021,10,10,573,955.3,2160.0,60.0,66.1,81.800003,46.000000
76,2021,10,11,558,1447.5,2760.0,60.0,61.9,76.000000,29.500000
77,2021,10,12,470,1410.9,2760.0,60.0,60.1,78.000000,11.100000
78,2021,10,13,562,1428.3,2700.0,60.0,58.0,82.000000,10.700000
79,2021,10,14,563,1468.6,2760.0,60.0,59.2,84.000000,14.700000
80,2021,10,15,567,1451.3,2640.0,60.0,61.1,79.000000,17.700001
81,2021,10,16,571,1131.2,2520.0,60.0,66.7,116.000000,48.400002
82,2021,10,17,510,1021.5,2460.0,60.0,66.7,98.300003,50.099998
83,2021,10,18,469,1615.3,2820.0,120.0,58.8,73.800003,14.500000
84,2021,10,19,422,1611.0,2760.0,60.0,56.9,76.300003,12.400000
85,2021,10,20,517,1534.2,2700.0,60.0,60.8,82.199997,12.400000
86,2021,10,21,520,1514.5,2700.0,60.0,58.1,81.000000,11.700000
87,2021,10,22,252,1391.9,2640.0,60.0,64.3,78.199997,36.000000
88,2021,10,23,572,1112.1,2340.0,60.0,66.5,89.500000,40.700001
89,2021,10,24,533,933.2,2040.0,60.0,67.4,91.800003,52.000000
90,2021,10,25,466,1653.1,2640.0,60.0,56.3,84.000000,9.400000
91,2021,10,26,466,1622.1,2820.0,60.0,54.2,78.800003,4.400000
92,2021,10,27,468,1681.3,2640.0,120.0,57.8,78.300003,11.900000
93,2021,10,28,516,1578.5,2640.0,60.0,56.0,77.599998,12.400000
94,2021,10,29,565,1468.8,2640.0,60.0,55.5,92.000000,10.600000
95,2021,10,30,573,1169.0,2520.0,60.0,66.4,87.199997,51.500000
96,2021,10,31,561,945.6,2280.0,60.0,67.2,100.000000,43.000000
97,2021,11,01,562,919.4,1980.0,60.0,67.9,97.000000,50.000000
98,2021,11,02,558,1372.5,2940.0,60.0,59.8,85.500000,11.900000
99,2021,11,03,560,1373.6,2880.0,60.0,60.2,105.000000,21.000000
100,2021,11,04,557,1344.5,2760.0,60.0,58.0,93.000000,8.300000
101,2021,11,05,563,1399.5,2880.0,60.0,60.0,97.000000,15.000000
102,2021,11,06,344,1074.9,2580.0,60.0,66.7,94.000000,46.500000
103,2021,11,07,204,830.3,2040.0,60.0,66.6,87.000000,50.000000
104,2021,11,08,550,1361.5,2760.0,60.0,59.2,81.300003,5.300000
105,2021,11,09,558,1383.8,2880.0,60.0,59.9,96.500000,8.500000
106,2021,11,10,551,1313.2,2940.0,60.0,58.7,94.000000,4.400000
107,2021,11,11,559,1413.9,2880.0,60.0,59.3,108.000000,18.100000
108,2021,11,12,561,1384.7,2760.0,60.0,58.7,95.000000,11.500000
109,2021,11,13,571,1082.8,2400.0,60.0,66.0,117.000000,33.700001
110,2021,11,14,542,822.8,1980.0,60.0,67.4,91.000000,52.000000
111,2021,11,15,492,1512.8,2700.0,60.0,60.1,84.000000,16.299999
112,2021,11,16,493,1492.1,2820.0,60.0,59.7,89.000000,15.900000
113,2021,11,17,489,1508.2,2640.0,60.0,58.4,86.000000,11.300000
114,2021,11,18,486,1540.1,2760.0,60.0,60.8,89.000000,14.700000
115,2021,11,19,516,1492.1,2640.0,60.0,58.7,83.400002,12.900000
116,2021,11,20,573,1053.3,2460.0,60.0,66.3,131.000000,35.000000
117,2021,11,21,539,933.1,2700.0,60.0,66.1,104.699997,14.000000
118,2021,11,22,492,1482.0,2640.0,60.0,59.2,86.000000,6.200000
119,2021,11,23,483,1508.2,2940.0,60.0,60.9,102.000000,11.300000
120,2021,11,24,487,1505.7,2760.0,60.0,58.4,96.000000,13.700000
121,2021,11,25,474,1563.4,2760.0,60.0,60.5,78.500000,16.900000
122,2021,11,26,506,1554.2,2820.0,60.0,60.2,84.000000,12.200000
123,2021,11,27,545,1075.6,2460.0,60.0,65.9,83.500000,45.799999
124,2021,11,28,570,879.9,2160.0,60.0,67.3,105.000000,39.000000
125,2021,11,29,553,1115.8,2580.0,60.0,54.0,91.800003,1.000000
126,2021,11,30,557,1326.2,2520.0,60.0,61.0,112.000000,22.500000
127,2021,12,01,272,1278.3,2640.0,60.0,52.1,84.000000,5.700000
128,2021,12,02,513,1295.9,2520.0,60.0,55.3,90.900002,8.100000
129,2021,12,03,558,1375.7,2760.0,60.0,59.3,94.000000,13.100000
130,2021,12,04,570,1054.0,2460.0,60.0,65.7,88.500000,32.000000
131,2021,12,05,346,1158.0,2040.0,60.0,67.6,85.500000,51.599998
132,2021,12,06,510,1456.7,2640.0,60.0,63.7,80.300003,26.500000
133,2021,12,07,561,1310.2,2700.0,60.0,64.1,96.000000,32.099998
134,2021,12,08,554,1080.6,2460.0,60.0,49.0,94.000000,4.400000
135,2021,12,09,554,1214.3,2520.0,60.0,55.8,84.300003,10.100000
136,2021,12,10,566,1281.0,2640.0,60.0,59.5,104.000000,6.400000
137,2021,12,11,568,1036.0,2400.0,60.0,67.0,97.000000,32.000000
138,2021,12,12,543,897.8,2340.0,60.0,67.5,109.000000,49.400002
139,2021,12,13,489,1482.9,2640.0,60.0,62.4,78.800003,19.299999
140,2021,12,14,491,1456.9,2640.0,60.0,60.8,79.000000,19.500000
141,2021,12,15,492,1478.9,2580.0,60.0,60.0,84.199997,16.400000
142,2021,12,16,491,1504.9,2700.0,60.0,61.8,86.599998,6.800000
143,2021,12,17,515,1485.8,2520.0,60.0,57.4,85.000000,7.900000
144,2021,12,18,571,1137.3,2520.0,60.0,66.5,86.500000,51.599998
145,2021,12,19,571,943.0,2580.0,60.0,67.4,94.000000,50.299999
146,2021,12,20,562,1292.9,2520.0,60.0,65.0,144.000000,39.900002
147,2021,12,21,560,1318.7,2640.0,60.0,64.8,84.000000,28.500000
148,2021,12,22,564,1318.1,2760.0,60.0,65.1,92.500000,45.099998
149,2021,12,23,460,1177.7,2700.0,60.0,65.7,85.000000,44.500000
150,2021,12,24,571,1069.9,2520.0,60.0,66.7,92.000000,48.000000
151,2021,12,25,564,799.8,2040.0,60.0,68.0,90.000000,43.200001
152,2021,12,26,561,824.2,1980.0,60.0,67.1,103.000000,20.000000
153,2021,12,27,559,1087.6,2400.0,60.0,67.3,90.000000,52.000000
154,2021,12,28,412,1061.1,2460.0,60.0,66.4,90.000000,51.700001
155,2021,12,29,564,1044.4,2460.0,60.0,66.1,105.000000,44.500000
156,2021,12,30,567,1084.9,2340.0,60.0,67.5,97.000000,39.000000
157,2021,12,31,564,961.9,2280.0,60.0,68.6,107.000000,50.000000
158,2022,01,01,568,719.7,1920.0,60.0,68.1,88.300003,52.000000
159,2022,01,02,558,786.9,2160.0,60.0,68.5,97.000000,54.000000
160,2022,01,03,558,1219.4,2700.0,60.0,66.9,102.000000,41.000000
161,2022,01,04,561,1231.7,2640.0,60.0,66.2,126.000000,28.100000
162,2022,01,05,553,1262.2,2580.0,60.0,65.3,88.500000,16.100000
163,2022,01,06,493,1386.2,2640.0,60.0,65.5,116.000000,42.400002
164,2022,01,07,557,1296.2,2460.0,60.0,65.8,89.000000,50.500000
165,2022,01,08,572,990.2,2340.0,60.0,67.8,103.000000,38.000000
166,2022,01,09,556,732.4,1860.0,60.0,68.5,113.000000,33.000000
167,2022,01,10,527,1219.4,2580.0,60.0,58.4,144.000000,28.400000
168,2022,01,11,489,1415.8,2640.0,60.0,64.5,85.500000,34.900002
169,2022,01,12,463,1524.0,2700.0,60.0,64.1,81.400002,42.000000
170,2022,01,13,484,1480.3,2880.0,60.0,64.2,80.400002,44.599998
171,2022,01,14,517,1478.4,2760.0,60.0,64.3,80.500000,34.700001
172,2022,01,15,568,1072.4,2460.0,60.0,66.4,101.000000,38.000000
173,2022,01,16,539,851.5,2100.0,60.0,67.3,101.500000,41.000000
174,2022,01,17,492,1448.8,2760.0,60.0,64.3,77.599998,31.500000
175,2022,01,18,491,1445.7,2640.0,60.0,64.6,79.199997,24.799999
176,2022,01,19,483,1357.8,2820.0,60.0,63.8,92.000000,-1.000000
177,2022,01,20,513,1392.0,2820.0,60.0,64.5,105.500000,35.000000
178,2022,01,21,515,1464.8,2820.0,60.0,64.3,87.000000,40.000000
179,2022,01,22,564,1040.3,2520.0,60.0,67.3,92.500000,50.000000
180,2022,01,23,536,851.5,1920.0,60.0,68.1,91.000000,49.500000
181,2022,01,24,491,1446.1,2820.0,60.0,64.7,111.000000,29.200001
182,2022,01,25,489,1461.5,2820.0,60.0,64.0,78.900002,36.900002
183,2022,01,26,487,1507.1,2820.0,60.0,64.2,77.699997,32.400002
184,2022,01,27,515,1404.2,2640.0,60.0,60.7,83.000000,5.400000
185,2022,01,28,279,1543.2,3000.0,60.0,59.7,86.000000,12.100000
186,2022,01,29,568,1108.8,2340.0,60.0,67.0,98.300003,53.000000
187,2022,01,30,544,804.6,1920.0,60.0,68.1,133.000000,31.500000
188,2022,01,31,515,1311.7,2460.0,60.0,65.7,84.599998,49.599998
189,2022,02,01,558,1200.5,2460.0,60.0,65.1,121.500000,40.000000
190,2022,02,02,493,1391.0,2580.0,60.0,63.9,90.000000,25.000000
191,2022,02,03,444,1287.3,2640.0,60.0,62.9,81.099998,2.000000
192,2022,02,04,514,1457.4,2640.0,60.0,65.2,85.000000,33.799999
193,2022,02,05,566,1120.6,2400.0,60.0,67.6,99.000000,40.000000
194,2022,02,06,544,826.2,2340.0,60.0,68.4,94.000000,49.000000
195,2022,02,07,490,1455.3,2760.0,60.0,64.7,80.500000,26.200001
196,2022,02,08,492,1457.9,2760.0,60.0,63.5,84.199997,16.000000
197,2022,02,09,492,1509.5,2940.0,60.0,63.8,81.699997,23.900000
198,2022,02,10,492,1512.3,2820.0,60.0,62.9,79.400002,25.299999
199,2022,02,11,407,1343.3,2460.0,60.0,63.4,94.000000,25.299999
200,2022,02,12,570,1174.1,2460.0,60.0,66.8,95.000000,49.599998
201,2022,02,13,378,722.7,2160.0,60.0,67.7,95.000000,33.000000
202,2022,02,14,159,1572.8,2820.0,600.0,64.8,76.900002,29.299999
203,2022,02,15,136,1515.4,2640.0,60.0,63.6,75.900002,38.000000
204,2022,02,16,489,1500.7,2880.0,60.0,64.5,102.000000,26.299999
205,2022,02,17,381,1673.2,2820.0,60.0,60.2,75.599998,7.000000
206,2022,02,18,508,1326.4,2700.0,60.0,53.1,86.599998,2.700000
207,2022,02,19,570,1115.8,2460.0,60.0,66.6,91.000000,36.000000
208,2022,02,20,539,883.5,2280.0,60.0,68.2,86.699997,10.000000
209,2022,02,21,488,1490.3,3000.0,60.0,64.1,87.000000,23.000000
210,2022,02,22,475,1552.7,3000.0,60.0,63.1,80.599998,13.200000
211,2022,02,23,473,1586.9,2760.0,120.0,62.3,95.300003,15.300000
212,2022,02,24,478,1495.7,2700.0,60.0,61.0,79.900002,6.400000
213,2022,02,25,454,1647.0,2940.0,60.0,58.4,90.699997,9.600000
214,2022,02,26,574,1158.2,2520.0,60.0,65.9,103.000000,47.700001
215,2022,02,27,433,1190.0,3000.0,60.0,64.8,77.800003,44.000000
216,2022,02,28,487,1433.1,2640.0,60.0,58.0,79.300003,9.300000
217,2022,03,01,485,1433.9,3120.0,60.0,56.2,83.000000,7.400000
218,2022,03,02,496,1378.2,2940.0,60.0,55.6,85.000000,8.100000
219,2022,03,03,496,1379.6,2580.0,60.0,56.3,89.000000,9.100000
220,2022,03,04,474,1438.4,2700.0,60.0,52.6,79.300003,8.800000
221,2022,03,05,512,1287.2,2520.0,60.0,64.4,78.000000,39.000000
222,2022,03,06,569,905.8,2220.0,60.0,66.0,144.000000,45.700001
223,2022,03,07,555,1248.0,2760.0,60.0,57.6,119.000000,8.400000
224,2022,03,08,549,1252.3,2760.0,60.0,57.6,82.000000,6.800000
225,2022,03,09,557,1170.6,2580.0,60.0,55.0,89.000000,4.300000
226,2022,03,10,553,1264.4,2760.0,60.0,56.0,96.000000,9.900000
227,2022,03,11,555,1257.8,2640.0,60.0,54.8,85.000000,8.400000
228,2022,03,12,568,1089.8,2700.0,60.0,65.7,98.000000,37.000000
229,2022,03,13,559,899.2,2340.0,60.0,66.0,99.000000,36.000000
230,2022,03,14,535,1288.4,2880.0,60.0,59.6,133.000000,8.700000
231,2022,03,15,527,1247.5,3000.0,60.0,55.8,84.000000,6.100000
232,2022,03,16,532,1234.1,2640.0,60.0,55.4,97.000000,9.200000
233,2022,03,17,535,1255.2,2580.0,60.0,55.3,85.000000,4.000000
234,2022,03,18,541,1259.6,2400.0,60.0,52.7,104.500000,4.900000
235,2022,03,19,566,1113.1,2400.0,60.0,65.0,98.500000,45.299999
236,2022,03,20,564,882.9,2340.0,60.0,66.6,98.000000,42.700001
237,2022,03,21,536,1244.2,2700.0,60.0,57.8,113.000000,4.300000
238,2022,03,22,531,1250.1,2760.0,60.0,56.2,93.000000,5.400000
239,2022,03,23,513,1332.5,2820.0,60.0,58.0,100.000000,9.400000
240,2022,03,24,513,1335.2,2520.0,60.0,56.6,82.699997,7.600000
241,2022,03,25,537,1258.9,2700.0,60.0,54.1,98.000000,3.700000
242,2022,03,26,556,1141.9,2460.0,60.0,64.3,105.000000,36.000000
243,2022,03,27,555,924.0,2220.0,60.0,65.7,89.000000,40.000000
244,2022,03,28,535,1367.4,2760.0,60.0,56.6,88.500000,9.900000
245,2022,03,29,527,1311.6,2640.0,60.0,52.7,96.000000,8.100000
246,2022,03,30,541,1315.3,2640.0,60.0,52.1,88.000000,8.200000
247,2022,03,31,543,1311.4,2400.0,60.0,53.2,100.000000,6.900000
248,2022,04,01,546,1284.7,2520.0,60.0,46.9,80.000000,8.300000
249,2022,04,02,574,1036.5,2220.0,60.0,61.8,79.500000,34.299999
250,2022,04,03,545,847.2,2040.0,60.0,63.2,89.000000,31.400000
251,2022,04,04,495,1461.0,2820.0,60.0,54.6,74.699997,7.300000
252,2022,04,05,493,1414.1,2880.0,60.0,52.3,75.000000,9.100000
253,2022,04,06,494,1433.4,2760.0,60.0,50.4,78.300003,9.500000
254,2022,04,07,494,1443.0,2640.0,60.0,49.4,80.400002,4.300000
255,2022,04,08,519,1434.8,2460.0,60.0,52.5,73.300003,7.000000
256,2022,04,09,574,1089.7,2160.0,60.0,64.6,80.500000,47.599998
257,2022,04,10,552,925.7,2460.0,60.0,66.5,86.300003,44.500000
258,2022,04,11,493,1407.4,2700.0,60.0,55.2,85.000000,6.800000
259,2022,04,12,495,1374.1,2580.0,60.0,53.0,74.300003,7.000000
260,2022,04,13,493,1435.6,2520.0,60.0,52.6,79.000000,10.100000
261,2022,04,14,520,1425.3,2880.0,60.0,48.4,72.900002,6.800000
262,2022,04,15,575,1014.2,2400.0,60.0,66.4,84.000000,55.000000
263,2022,04,16,568,994.2,2220.0,60.0,66.6,91.000000,50.000000
264,2022,04,17,574,837.5,2100.0,60.0,66.6,94.000000,47.000000
265,2022,04,18,543,883.3,2100.0,60.0,66.1,85.800003,37.000000
266,2022,04,19,497,1423.3,2640.0,60.0,57.7,80.000000,9.000000
267,2022,04,20,493,1462.9,2460.0,60.0,57.1,103.500000,10.700000
268,2022,04,21,494,1474.3,2580.0,60.0,56.5,77.000000,9.100000
269,2022,04,22,519,1441.8,2640.0,60.0,58.2,78.000000,11.000000
270,2022,04,23,569,1121.8,2340.0,60.0,65.3,81.199997,41.000000
271,2022,04,24,574,895.1,2280.0,60.0,65.2,99.000000,43.200001
272,2022,04,25,533,1424.5,2700.0,60.0,55.9,88.000000,10.700000
273,2022,04,26,499,1465.9,2880.0,60.0,52.9,82.300003,8.000000
274,2022,04,27,521,1406.6,2880.0,60.0,52.6,78.500000,8.900000
275,2022,04,28,539,1374.2,2880.0,60.0,52.1,79.199997,8.200000
276,2022,04,29,548,1326.8,2580.0,60.0,51.3,86.300003,6.000000
277,2022,04,30,549,1178.9,2760.0,60.0,64.6,85.000000,19.000000
278,2022,05,01,70,277.7,720.0,60.0,68.9,108.000000,53.000000
279,2022,05,02,484,1519.1,2940.0,60.0,54.5,73.900002,7.400000
280,2022,05,03,494,1443.0,2940.0,60.0,51.0,73.800003,7.600000
281,2022,05,04,492,1475.6,2640.0,120.0,51.2,76.000000,8.800000
282,2022,05,05,968,1498.3,2940.0,120.0,50.6,74.500000,6.400000
283,2022,05,06,532,1347.2,2460.0,60.0,48.7,84.300003,5.500000
284,2022,05,07,571,1152.9,2640.0,60.0,64.8,83.699997,33.000000
285,2022,05,08,549,979.7,2340.0,60.0,66.7,89.500000,38.000000
286,2022,05,09,494,1460.5,2700.0,60.0,55.2,80.000000,3.200000
287,2022,05,10,491,1450.9,2820.0,60.0,52.7,76.000000,2.500000
288,2022,05,11,495,1434.8,2580.0,60.0,50.3,76.800003,9.300000
289,2022,05,12,495,1485.9,2640.0,60.0,54.5,77.000000,11.300000
290,2022,05,13,520,1459.4,2700.0,60.0,53.0,79.199997,9.100000
291,2022,05,14,570,1153.2,2700.0,60.0,64.9,85.800003,44.000000
292,2022,05,15,549,921.9,2040.0,60.0,66.2,92.699997,35.000000
293,2022,05,16,491,1429.1,2580.0,180.0,53.6,73.599998,6.000000
294,2022,05,17,492,1468.8,2580.0,60.0,55.1,77.699997,7.400000
295,2022,05,18,493,1440.0,2520.0,60.0,47.1,78.900002,6.700000
296,2022,05,19,494,1416.6,2580.0,60.0,49.9,73.400002,5.300000
297,2022,05,20,518,1379.9,2760.0,60.0,48.9,75.300003,6.000000
298,2022,05,21,571,1155.3,2460.0,60.0,64.9,112.000000,35.000000
299,2022,05,22,571,904.4,2100.0,60.0,66.9,110.000000,47.599998
300,2022,05,23,533,1352.8,2640.0,60.0,54.1,96.000000,1.000000
301,2022,05,24,496,1362.5,2580.0,60.0,44.0,77.400002,5.300000
302,2022,05,25,389,1464.4,23820.0,60.0,53.4,80.000000,8.200000
303,2022,05,26,572,956.1,2160.0,60.0,66.3,144.000000,33.000000
304,2022,05,27,569,1080.6,2280.0,60.0,65.1,106.000000,23.900000
305,2022,05,28,501,861.4,2340.0,60.0,66.4,103.000000,37.000000
306,2022,05,29,548,777.7,2160.0,60.0,67.1,90.000000,51.299999
307,2022,05,30,495,1357.1,2640.0,60.0,54.5,87.000000,3.700000
308,2022,05,31,491,1380.7,2820.0,60.0,56.0,76.500000,4.000000
309,2022,06,01,481,1240.3,2460.0,60.0,52.2,79.400002,5.500000
310,2022,06,02,492,1393.7,2700.0,60.0,54.0,76.099998,7.000000
311,2022,06,03,518,1281.7,2460.0,60.0,48.5,77.199997,6.000000
312,2022,06,04,574,1009.8,2280.0,60.0,66.6,96.699997,54.299999
313,2022,06,05,570,723.3,1680.0,60.0,67.6,96.000000,32.000000
314,2022,06,06,542,781.9,2040.0,60.0,67.8,109.000000,36.000000
315,2022,06,07,494,1383.3,2520.0,60.0,54.6,82.199997,8.300000
316,2022,06,08,494,1353.3,2760.0,60.0,54.2,79.699997,8.000000
317,2022,06,09,493,1325.2,2580.0,60.0,50.8,74.900002,7.900000
318,2022,06,10,519,1295.8,2640.0,60.0,52.4,76.000000,2.700000

### Wechsel auf Analyse nach Wochentag

In [46]:
query ='''
SELECT  strftime('%w', time, 'localtime') as Weekday, strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl,
       ROUND(AVG(vfr11), 1) AS MEAN_Flow,
       MAX(vfr11) AS MAX_FLOW,
       MIN(vfr11) AS MIN_FLOW,
       ROUND(AVG(s12), 1) AS MEAN_Speed,
       MAX(s12) AS MAX_Speed,
       MIN(s12) AS MIN_Speed   
FROM tcdata_CH_0084_01
WHERE vfr11 > 0
GROUP BY strftime('%w', time, 'localtime') 
 '''

In [47]:
df = pd.read_sql_query(query, conn)

In [48]:
df.head(10)

,Weekday,Year,Month,Day,Anzahl,MEAN_Flow,MAX_FLOW,MIN_FLOW,MEAN_Speed,MAX_Speed,MIN_Speed
0,0,2022,02,20,23760,890.8,3000.0,60.0,67.1,144.0,10.0
1,1,2021,11,29,23545,1349.7,3000.0,60.0,60.4,144.0,1.0
2,2,2022,05,10,22801,1406.7,3120.0,60.0,58.9,126.0,2.5
3,3,2022,01,19,23726,1405.0,23820.0,60.0,58.4,105.0,-1.0
4,4,2022,02,03,24390,1406.8,2940.0,60.0,58.6,144.0,2.0
5,5,2022,02,18,24493,1369.1,3000.0,60.0,58.3,108.0,2.7
6,6,2022,04,30,25859,1100.5,2760.0,60.0,66.2,131.0,19.0

In [49]:
query ='''
SELECT  strftime('%H', time, 'localtime') as Hour, strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl,
       ROUND(AVG(vfr11), 1) AS MEAN_Flow,
       MAX(vfr11) AS MAX_FLOW,
       MIN(vfr11) AS MIN_FLOW,
       ROUND(AVG(s12), 1) AS MEAN_Speed,
       MAX(s12) AS MAX_Speed,
       MIN(s12) AS MIN_Speed   
FROM tcdata_CH_0084_01
WHERE vfr11 > 0
GROUP BY strftime('%H', time, 'localtime') 
 '''

In [50]:
df = pd.read_sql_query(query, conn)

In [51]:
df.head(24)

,Hour,Year,Month,Day,Anzahl,MEAN_Flow,MAX_FLOW,MIN_FLOW,MEAN_Speed,MAX_Speed,MIN_Speed
0,00,2022,02,17,2294,310.7,1140.0,60.0,66.5,144.000000,7.000000
1,01,2022,03,07,2068,211.5,960.0,60.0,66.8,144.000000,19.000000
2,02,2021,12,26,1829,159.0,900.0,60.0,65.8,144.000000,20.000000
3,03,2021,09,29,1848,136.0,660.0,60.0,66.3,126.000000,7.000000
4,04,2022,04,08,2964,191.3,720.0,60.0,67.2,144.000000,12.000000
5,05,2021,11,26,10785,472.9,1620.0,60.0,68.7,144.000000,24.000000
6,06,2021,11,29,18411,1257.0,2940.0,60.0,65.3,100.000000,1.000000
7,07,2022,01,19,17906,1455.1,3120.0,60.0,61.8,110.000000,-1.000000
8,08,2021,11,29,11186,1243.4,2520.0,60.0,64.4,92.000000,1.000000
9,09,2021,12,08,3960,1231.1,2220.0,60.0,65.0,83.199997,4.600000
10,10,2022,04,07,3904,1331.6,2460.0,120.0,64.4,92.500000,4.300000
11,11,2022,03,17,3881,1434.8,2700.0,120.0,64.3,79.400002,4.000000
12,12,2021,12,08,3880,1444.0,2640.0,540.0,65.1,79.099998,30.200001
13,13,2021,12,17,3908,1577.5,2700.0,600.0,63.8,78.300003,9.100000
14,14,2022,03,25,4635,1524.1,2760.0,180.0,63.8,84.500000,3.700000
15,15,2022,06,03,11645,1585.4,2700.0,60.0,63.7,84.900002,6.000000
16,16,2022,05,23,18587,1717.3,3000.0,60.0,54.9,89.900002,1.000000
17,17,2021,11,10,17791,1639.8,3000.0,60.0,44.9,82.800003,4.400000
18,18,2021,10,26,10985,1525.3,23820.0,300.0,57.1,80.099998,4.400000
19,19,2022,05,25,3753,1182.9,2220.0,240.0,66.0,85.400002,8.200000
20,20,2021,09,23,3788,919.9,2100.0,60.0,66.7,90.699997,7.700000
21,21,2021,09,23,3589,752.1,1980.0,60.0,66.6,104.000000,17.100000
22,22,2022,04,12,2523,634.1,2040.0,60.0,65.7,97.000000,9.000000
23,23,2022,02,08,2454,481.9,1740.0,60.0,66.2,133.000000,16.000000

In [52]:
df.to_excel('84_01_hours.xls')

C:\Users\peter\AppData\Local\Temp\ipykernel_20128\401687979.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.to_excel('84_01_hours.xls')