In [1]:
import sqlalchemy as db
from sqlalchemy import create_engine

In [2]:
engine = db.create_engine('sqlite:///C:\\Users\\peter\\Documents\\Projekte\\Zähler\\tc_sg.db')

In [3]:
conn = engine.connect()

In [4]:
import pandas as pd

In [73]:
pd.options.display.max_rows=2000

In [6]:
pd.options.display.max_columns

20

### Abfrage 1 - Anzahl Datenpunkte

In [40]:
query ='''
SELECT  *, strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
GROUP BY Year, Month
 '''

In [41]:
df = pd.read_sql_query(query, conn)

In [42]:
df.head(10)

,time,vfr11,s12,vfr21,s22,vfr1,s2,Year,Month,Day,Anzahl
0,2021-06-19 05:53:00+02:00,360.0,81.800003,0.0,0.0,0.0,0.0,2021,06,19,10087
1,2021-07-01 00:03:00+02:00,120.0,80.000000,0.0,0.0,0.0,0.0,2021,07,01,26097
2,2021-08-01 00:00:00+02:00,480.0,68.599998,0.0,0.0,0.0,0.0,2021,08,01,4347
3,2021-09-01 06:03:00+02:00,1260.0,69.800003,60.0,69.0,0.0,0.0,2021,09,01,4307
4,2021-10-01 05:59:00+02:00,960.0,72.900002,0.0,0.0,0.0,0.0,2021,10,01,4143
5,2021-11-01 04:59:00+01:00,240.0,68.500000,0.0,0.0,0.0,0.0,2021,11,01,4108
6,2021-12-02 04:59:00+01:00,120.0,62.000000,0.0,0.0,0.0,0.0,2021,12,02,4048
7,2022-01-01 04:59:00+01:00,180.0,66.000000,0.0,0.0,0.0,0.0,2022,01,01,4379
8,2022-02-01 04:59:00+01:00,360.0,65.500000,60.0,72.0,0.0,0.0,2022,02,01,4059
9,2022-03-01 04:59:00+01:00,0.0,0.000000,0.0,0.0,0.0,0.0,2022,03,01,2336

### Abfrage 2 - Anzahl Datenpunkte mit Verkehrfluss vfr11

In [10]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr11 > 0
GROUP BY Year, Month
 '''

In [11]:
df = pd.read_sql_query(query, conn)

In [12]:
df.head(10)

   Year Month Day  Anzahl
0  2021    06  19    9696
1  2021    07  01   25078
2  2021    08  01    4282
3  2021    09  01    4183
4  2021    10  01    4133
5  2021    11  01    4099
6  2021    12  02    4037
7  2022    01  01    4345
8  2022    02  01    3751
9  2022    03  01    2332

In [19]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr11 IS NULL
GROUP BY Year, Month
 '''

In [20]:
df = pd.read_sql_query(query, conn)

In [21]:
df.head(10)

   Year Month Day  Anzahl
0  2022    02  14      34

In [22]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr11 = 0
GROUP BY Year, Month
 '''

In [23]:
df = pd.read_sql_query(query, conn)

In [24]:
df.head(10)

   Year Month Day  Anzahl
0  2021    06  20     391
1  2021    07  01    1019
2  2021    08  01      65
3  2021    09  11     124
4  2021    10  18      10
5  2021    11  07       9
6  2021    12  08      11
7  2022    01  01      34
8  2022    02  11     274
9  2022    03  01       4

### Abfrage 3 - Anzahl Datenpunkte mit Verkehrfluss vfr21

In [13]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr21 > 0
GROUP BY Year, Month
 '''

In [14]:
df = pd.read_sql_query(query, conn)

In [15]:
df.head(10)

   Year Month Day  Anzahl
0  2021    06  19    6196
1  2021    07  01   15175
2  2021    08  01    2666
3  2021    09  01    2855
4  2021    10  01    2674
5  2021    11  01    2896
6  2021    12  02    2327
7  2022    01  01    2550
8  2022    02  01    2417
9  2022    03  01    1591

In [25]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr21 IS NULL
GROUP BY Year, Month
 '''

In [26]:
df = pd.read_sql_query(query, conn)

In [27]:
df.head(10)

   Year Month Day  Anzahl
0  2022    02  14      34

In [28]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr21 = 0
GROUP BY Year, Month
 '''

In [29]:
df = pd.read_sql_query(query, conn)

In [30]:
df.head(10)

   Year Month Day  Anzahl
0  2021    06  19    3891
1  2021    07  01   10922
2  2021    08  01    1681
3  2021    09  01    1452
4  2021    10  01    1469
5  2021    11  01    1212
6  2021    12  02    1721
7  2022    01  01    1829
8  2022    02  01    1608
9  2022    03  01     745

### Abfrage 4 - Anzahl Datenpunkte mit Verkehrfluss vfr1

In [16]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr1 > 0
GROUP BY Year, Month
 '''

In [17]:
df = pd.read_sql_query(query, conn)

In [18]:
df.head(10)

Empty DataFrame
Columns: [Year, Month, Day, Anzahl]
Index: []

In [31]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr1 IS NULL
GROUP BY Year, Month
 '''

In [32]:
df = pd.read_sql_query(query, conn)

In [33]:
df.head(10)

   Year Month Day  Anzahl
0  2022    02  14      34

In [34]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl
FROM tcdata_CH_0084_01
WHERE vfr1 = 0
GROUP BY Year, Month
 '''

In [35]:
df = pd.read_sql_query(query, conn)

In [36]:
df.head(10)

   Year Month Day  Anzahl
0  2021    06  19   10087
1  2021    07  01   26097
2  2021    08  01    4347
3  2021    09  01    4307
4  2021    10  01    4143
5  2021    11  01    4108
6  2021    12  02    4048
7  2022    01  01    4379
8  2022    02  01    4025
9  2022    03  01    2336

### Dh es gibt für diesen Fahrzeugtyp keine Daten von "anderen Fahrzeugen"

### Nun zu statistischen Werten (zunächst mit 0 und NULL)

In [57]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl,
       ROUND(AVG(vfr11), 1) AS MEAN_Flow,
       MAX(vfr11) AS MAX_FLOW,
       MIN(vfr11) AS MIN_FLOW,
       ROUND(AVG(s12), 1) AS MEAN_Speed,
       MAX(s12) AS MAX_Speed,
       MIN(s12) AS MIN_Speed   
FROM tcdata_CH_0084_01
GROUP BY Year, Month
 '''

In [58]:
df = pd.read_sql_query(query, conn)

In [59]:
df.head(10)

,Year,Month,Day,Anzahl,MEAN_Flow,MAX_FLOW,MIN_FLOW,MEAN_Speed,MAX_Speed,MIN_Speed
0,2021,06,20,10087,1251.8,2700.0,0.0,71.6,105.0,0.0
1,2021,07,01,26097,1254.4,2880.0,0.0,66.7,106.0,0.0
2,2021,08,01,4347,1439.8,2880.0,0.0,62.3,96.0,0.0
3,2021,09,11,4307,1508.9,2940.0,0.0,60.2,103.0,0.0
4,2021,10,18,4143,1526.0,2820.0,0.0,62.3,100.0,0.0
5,2021,11,07,4108,1384.6,2940.0,0.0,63.6,117.0,0.0
6,2021,12,08,4048,1313.6,2760.0,0.0,64.1,89.0,-1.0
7,2022,01,01,4379,1277.6,2820.0,0.0,65.4,133.0,0.0
8,2022,02,11,4059,1288.6,3000.0,0.0,60.4,97.0,0.0
9,2022,03,01,2336,1389.7,2820.0,0.0,61.7,99.0,0.0

### ...dann bereinigt!

In [60]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl,
       ROUND(AVG(vfr11), 1) AS MEAN_Flow,
       MAX(vfr11) AS MAX_FLOW,
       MIN(vfr11) AS MIN_FLOW,
       ROUND(AVG(s12), 1) AS MEAN_Speed,
       MAX(s12) AS MAX_Speed,
       MIN(s12) AS MIN_Speed   
FROM tcdata_CH_0084_01
WHERE vfr11 > 0
GROUP BY Year, Month
 '''

In [61]:
df = pd.read_sql_query(query, conn)

In [62]:
df.head(10)

,Year,Month,Day,Anzahl,MEAN_Flow,MAX_FLOW,MIN_FLOW,MEAN_Speed,MAX_Speed,MIN_Speed
0,2021,06,24,9696,1302.3,2700.0,60.0,74.5,105.0,12.5
1,2021,07,16,25078,1305.4,2880.0,60.0,69.4,106.0,11.6
2,2021,08,20,4282,1461.6,2880.0,60.0,63.3,96.0,11.2
3,2021,09,03,4183,1553.7,2940.0,60.0,62.0,103.0,6.8
4,2021,10,25,4133,1529.7,2820.0,60.0,62.4,100.0,11.7
5,2021,11,29,4099,1387.6,2940.0,60.0,63.7,117.0,3.6
6,2021,12,08,4037,1317.2,2760.0,60.0,64.3,89.0,-1.0
7,2022,01,19,4345,1287.6,2820.0,60.0,65.9,133.0,3.0
8,2022,02,03,3751,1382.8,3000.0,60.0,64.8,97.0,5.0
9,2022,03,15,2332,1392.1,2820.0,60.0,61.8,99.0,6.1

### Weitere Detaillierung nach Tag

In [70]:
query ='''
SELECT  strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl,
       ROUND(AVG(vfr11), 1) AS MEAN_Flow,
       MAX(vfr11) AS MAX_FLOW,
       MIN(vfr11) AS MIN_FLOW,
       ROUND(AVG(s12), 1) AS MEAN_Speed,
       MAX(s12) AS MAX_Speed,
       MIN(s12) AS MIN_Speed   
FROM tcdata_CH_0084_01
WHERE vfr11 > 0
GROUP BY Year, Month, Day
 '''

In [71]:
df = pd.read_sql_query(query, conn)

In [74]:
df.head(1000)

,Year,Month,Day,Anzahl,MEAN_Flow,MAX_FLOW,MIN_FLOW,MEAN_Speed,MAX_Speed,MIN_Speed
0,2021,06,19,781,1338.2,2220.0,120.0,76.5,88.500000,63.500000
1,2021,06,20,847,983.3,2040.0,60.0,78.6,102.500000,69.000000
2,2021,06,21,830,1324.7,2400.0,60.0,74.7,100.500000,28.799999
3,2021,06,22,839,1329.0,2340.0,60.0,74.2,96.000000,31.000000
4,2021,06,23,844,1347.9,2460.0,60.0,73.4,91.000000,30.600000
5,2021,06,24,792,1343.6,2340.0,60.0,70.7,92.000000,12.500000
6,2021,06,25,803,1402.9,2460.0,60.0,71.9,90.000000,26.500000
7,2021,06,26,823,1298.9,2220.0,60.0,76.9,96.000000,36.500000
8,2021,06,27,641,1254.9,2160.0,60.0,77.1,92.800003,67.699997
9,2021,06,28,838,1337.2,2700.0,60.0,74.4,104.500000,32.200001
10,2021,06,29,830,1313.6,2400.0,60.0,73.7,105.000000,17.900000
11,2021,06,30,828,1354.6,2460.0,60.0,72.8,100.000000,26.100000
12,2021,07,01,834,1360.8,2340.0,60.0,72.9,105.000000,25.600000
13,2021,07,02,836,1390.5,2340.0,60.0,72.7,102.000000,24.299999
14,2021,07,03,824,1272.2,2220.0,60.0,76.8,98.000000,60.099998
15,2021,07,04,811,1016.0,1920.0,60.0,78.2,92.199997,68.599998
16,2021,07,05,690,1375.3,2520.0,60.0,73.6,93.000000,29.000000
17,2021,07,06,657,1388.3,2280.0,240.0,72.0,86.000000,19.900000
18,2021,07,07,670,1416.9,2340.0,120.0,72.3,86.900002,19.500000
19,2021,07,08,712,1331.8,2460.0,60.0,71.3,101.000000,20.799999
20,2021,07,09,839,1394.5,2340.0,60.0,71.3,100.000000,28.799999
21,2021,07,10,840,1265.4,2160.0,60.0,76.7,101.000000,57.000000
22,2021,07,11,801,1028.0,1920.0,60.0,78.1,100.300003,69.099998
23,2021,07,12,745,1410.8,2280.0,180.0,73.4,85.699997,21.500000
24,2021,07,13,710,1307.2,2340.0,60.0,73.1,93.500000,33.099998
25,2021,07,14,839,1337.7,2520.0,60.0,74.0,106.000000,29.000000
26,2021,07,15,839,1419.3,2760.0,60.0,66.0,101.000000,17.100000
27,2021,07,16,848,1470.8,2640.0,60.0,60.4,89.000000,11.600000
28,2021,07,17,851,1338.0,2520.0,60.0,66.3,96.000000,51.000000
29,2021,07,18,815,1083.9,2220.0,60.0,67.8,95.000000,54.500000
30,2021,07,19,847,1382.8,2580.0,60.0,65.8,91.500000,49.000000
31,2021,07,20,835,1341.8,2580.0,60.0,65.8,99.000000,42.599998
32,2021,07,21,837,1376.3,2520.0,60.0,65.4,88.199997,35.200001
33,2021,07,22,839,1384.1,2880.0,60.0,65.4,79.000000,22.299999
34,2021,07,23,847,1428.9,2520.0,60.0,64.3,87.599998,15.700000
35,2021,07,24,851,1264.0,2400.0,60.0,66.8,86.300003,52.200001
36,2021,07,25,850,950.5,1980.0,60.0,67.9,91.300003,45.200001
37,2021,07,26,846,1282.1,2760.0,60.0,66.3,82.500000,48.000000
38,2021,07,27,839,1267.8,2640.0,60.0,66.7,90.000000,39.000000
39,2021,07,28,835,1289.7,2700.0,60.0,65.5,80.000000,22.000000
40,2021,07,29,843,1329.8,2520.0,60.0,66.5,90.000000,49.900002
41,2021,07,30,845,1349.0,2400.0,60.0,65.9,86.300003,33.000000
42,2021,07,31,803,1252.1,2460.0,60.0,67.3,81.000000,34.000000
43,2021,08,01,144,487.9,1860.0,60.0,66.2,96.000000,26.000000
44,2021,08,02,107,692.5,1980.0,60.0,68.8,90.000000,58.000000
45,2021,08,03,121,1322.5,2340.0,180.0,65.6,74.300003,53.200001
46,2021,08,04,146,1379.2,2520.0,360.0,64.1,76.099998,19.000000
47,2021,08,05,147,1438.0,2400.0,480.0,65.7,73.599998,50.000000
48,2021,08,06,147,1489.4,2280.0,540.0,66.0,74.300003,52.299999
49,2021,08,07,147,1314.7,2280.0,180.0,66.7,75.300003,52.799999
50,2021,08,08,149,1268.9,1920.0,420.0,67.5,76.300003,60.400002
51,2021,08,09,146,1582.6,2880.0,900.0,63.1,72.400002,30.000000
52,2021,08,10,146,1576.8,2400.0,840.0,63.1,73.099998,14.900000
53,2021,08,11,146,1598.6,2340.0,720.0,61.1,75.800003,19.299999
54,2021,08,12,146,1625.8,2520.0,840.0,63.2,75.099998,19.700001
55,2021,08,13,146,1631.5,2400.0,420.0,60.5,73.500000,16.100000
56,2021,08,14,146,1509.9,2400.0,360.0,66.0,74.800003,58.700001
57,2021,08,16,146,1589.6,2520.0,780.0,60.3,73.400002,18.700001
58,2021,08,17,146,1581.8,2640.0,780.0,60.5,74.099998,13.100000
59,2021,08,18,146,1665.2,2700.0,840.0,61.5,73.199997,13.800000
60,2021,08,19,146,1619.6,2580.0,840.0,61.3,72.400002,19.299999
61,2021,08,20,146,1648.8,2400.0,780.0,57.9,74.199997,11.200000
62,2021,08,21,145,1576.6,2460.0,360.0,64.8,75.400002,46.500000
63,2021,08,22,146,1132.6,2220.0,120.0,66.0,80.000000,55.799999
64,2021,08,23,145,1556.7,2880.0,780.0,62.1,72.300003,21.799999
65,2021,08,24,145,1530.2,2700.0,900.0,64.3,72.599998,29.799999
66,2021,08,25,145,1570.3,2340.0,600.0,60.1,72.000000,14.400000
67,2021,08,26,145,1616.7,2760.0,720.0,61.3,74.099998,20.600000
68,2021,08,27,145,1620.8,2460.0,840.0,59.0,76.199997,15.800000
69,2021,08,28,145,1570.3,2400.0,300.0,64.7,79.300003,49.400002
70,2021,08,29,119,1263.5,2160.0,60.0,65.6,75.900002,58.500000
71,2021,08,30,143,1585.2,2520.0,900.0,62.0,72.400002,29.500000
72,2021,08,31,145,1537.2,2520.0,660.0,61.4,73.599998,17.900000
73,2021,09,01,143,1586.9,2520.0,660.0,60.6,75.199997,16.900000
74,2021,09,02,115,1543.3,2400.0,780.0,59.5,71.400002,9.800000
75,2021,09,03,145,1666.8,2580.0,720.0,58.4,72.800003,6.800000
76,2021,09,04,145,1570.3,2640.0,360.0,63.5,75.800003,39.599998
77,2021,09,05,145,1347.7,2280.0,180.0,66.9,82.300003,60.200001
78,2021,09,06,144,1614.2,2580.0,840.0,61.7,76.099998,12.100000
79,2021,09,07,145,1633.2,2520.0,960.0,63.7,73.900002,24.500000
80,2021,09,08,145,1616.7,2340.0,780.0,60.5,71.800003,16.700001
81,2021,09,09,145,1573.7,2700.0,780.0,60.3,73.599998,17.900000
82,2021,09,10,153,1681.2,2460.0,1020.0,57.9,75.199997,14.900000
83,2021,09,11,109,1492.8,2340.0,480.0,66.0,75.099998,59.000000
84,2021,09,12,143,1287.7,2220.0,300.0,67.3,78.400002,60.000000
85,2021,09,13,154,1558.1,2580.0,660.0,61.1,73.900002,8.200000
86,2021,09,14,128,1543.6,2340.0,60.0,64.2,77.699997,29.200001
87,2021,09,15,156,1597.3,2340.0,960.0,59.0,73.800003,14.100000
88,2021,09,16,130,1652.8,2580.0,780.0,61.7,75.199997,17.700001
89,2021,09,17,145,1619.6,2460.0,840.0,59.1,71.800003,14.700000
90,2021,09,18,145,1538.1,2280.0,360.0,65.8,75.199997,54.200001
91,2021,09,19,145,1102.3,1920.0,60.0,67.2,78.300003,55.599998
92,2021,09,20,145,1624.1,2700.0,720.0,61.0,72.800003,12.600000
93,2021,09,21,146,1617.1,2940.0,900.0,61.4,75.500000,20.900000
94,2021,09,22,118,1661.7,2640.0,960.0,62.0,73.599998,25.299999
95,2021,09,23,138,1607.8,2760.0,720.0,60.7,71.500000,12.400000
96,2021,09,24,139,1666.6,2580.0,780.0,59.3,74.000000,15.600000
97,2021,09,25,114,1596.8,2460.0,120.0,65.2,77.500000,56.400002
98,2021,09,26,144,1169.2,2100.0,60.0,67.1,103.000000,58.299999
99,2021,09,27,143,1657.3,2760.0,900.0,62.2,71.699997,19.799999
100,2021,09,28,136,1595.3,2520.0,840.0,60.2,72.400002,20.700001
101,2021,09,29,141,1621.7,2640.0,780.0,58.3,75.300003,11.400000
102,2021,09,30,139,1585.0,2580.0,120.0,59.4,73.800003,10.300000
103,2021,10,01,94,1561.3,2280.0,900.0,63.6,72.900002,45.500000
104,2021,10,02,146,1604.8,2460.0,420.0,65.1,77.300003,52.700001
105,2021,10,03,145,1213.2,2040.0,120.0,67.1,78.599998,57.599998
106,2021,10,04,53,1462.6,2520.0,960.0,63.6,72.800003,54.599998
107,2021,10,05,146,1539.5,2400.0,540.0,60.1,80.099998,22.200001
108,2021,10,06,146,1601.1,2460.0,840.0,61.0,72.400002,21.799999
109,2021,10,07,146,1569.5,2580.0,780.0,61.1,72.800003,15.900000
110,2021,10,08,146,1632.7,2640.0,960.0,58.7,74.800003,16.900000
111,2021,10,09,145,1607.6,2520.0,480.0,64.3,76.599998,54.900002
112,2021,10,10,146,1274.0,2100.0,120.0,65.9,81.800003,57.900002
113,2021,10,11,145,1622.1,2760.0,720.0,62.4,72.199997,36.700001
114,2021,10,12,33,1550.9,2340.0,780.0,64.5,70.099998,59.299999
115,2021,10,13,146,1610.5,2640.0,780.0,60.6,71.400002,16.799999
116,2021,10,14,146,1641.4,2580.0,720.0,60.4,72.800003,23.400000
117,2021,10,15,146,1691.9,2640.0,780.0,60.4,73.099998,17.700001
118,2021,10,16,146,1525.5,2520.0,360.0,65.2,78.800003,56.500000
119,2021,10,17,146,1245.2,1980.0,120.0,66.3,77.400002,53.700001
120,2021,10,18,146,1600.7,2820.0,60.0,60.2,73.599998,19.799999
121,2021,10,19,139,1617.0,2760.0,540.0,60.1,76.300003,22.500000
122,2021,10,20,146,1576.0,2700.0,600.0,61.4,76.800003,12.400000
123,2021,10,21,146,1623.3,2400.0,540.0,59.4,72.000000,18.299999
124,2021,10,22,24,1642.5,2220.0,660.0,64.3,74.699997,56.200001
125,2021,10,23,146,1470.4,2400.0,300.0,65.6,75.099998,55.299999
126,2021,10,24,146,1193.8,2100.0,60.0,66.8,77.000000,54.200001
127,2021,10,25,146,1581.4,2400.0,720.0,59.4,78.099998,11.700000
128,2021,10,26,145,1562.5,2520.0,840.0,60.9,72.300003,20.799999
129,2021,10,27,146,1662.3,2640.0,600.0,60.6,75.000000,22.000000
130,2021,10,28,146,1630.3,2640.0,780.0,58.8,74.400002,21.400000
131,2021,10,29,146,1690.3,2520.0,840.0,59.0,72.900002,17.200001
132,2021,10,30,146,1541.1,2460.0,300.0,65.4,78.500000,54.799999
133,2021,10,31,144,1152.1,2280.0,60.0,66.8,100.000000,54.299999
134,2021,11,01,146,1044.7,1920.0,120.0,66.9,76.800003,51.900002
135,2021,11,02,146,1523.0,2640.0,180.0,62.6,75.300003,24.799999
136,2021,11,03,146,1497.9,2640.0,120.0,63.4,78.000000,24.400000
137,2021,11,04,146,1438.8,2400.0,240.0,60.8,76.500000,8.300000
138,2021,11,05,146,1548.1,2700.0,240.0,62.7,73.599998,28.500000
139,2021,11,06,19,391.6,780.0,120.0,69.7,80.000000,63.299999
140,2021,11,07,8,165.0,300.0,60.0,73.6,86.699997,57.000000
141,2021,11,08,146,1454.4,2580.0,120.0,62.7,80.000000,15.000000
142,2021,11,09,146,1437.1,2520.0,180.0,63.4,75.400002,14.400000
143,2021,11,10,146,1469.2,2940.0,180.0,63.9,76.099998,12.500000
144,2021,11,11,146,1516.0,2520.0,60.0,64.0,77.000000,29.600000
145,2021,11,12,146,1566.2,2520.0,180.0,62.1,79.000000,20.400000
146,2021,11,13,146,1388.2,2640.0,60.0,66.3,117.000000,54.900002
147,2021,11,14,146,962.1,1800.0,60.0,68.3,84.400002,58.000000
148,2021,11,15,146,1478.6,2640.0,240.0,64.6,84.000000,25.000000
149,2021,11,16,146,1454.4,2580.0,60.0,63.1,89.000000,25.900000
150,2021,11,17,145,1485.9,2580.0,240.0,61.8,75.500000,11.300000
151,2021,11,18,146,1451.5,2460.0,180.0,64.3,78.500000,31.000000
152,2021,11,19,145,1523.6,2640.0,120.0,62.5,76.300003,15.700000
153,2021,11,20,146,1315.1,2340.0,60.0,65.3,86.500000,21.900000
154,2021,11,21,144,1033.3,2280.0,60.0,66.5,94.500000,19.000000
155,2021,11,22,146,1392.3,2460.0,120.0,61.8,80.000000,4.500000
156,2021,11,23,145,1494.2,2700.0,180.0,64.9,75.000000,23.000000
157,2021,11,24,145,1505.0,2640.0,60.0,63.3,81.599998,20.600000
158,2021,11,25,139,1551.8,2700.0,180.0,62.7,74.000000,30.500000
159,2021,11,26,145,1507.4,2460.0,60.0,61.8,84.000000,18.400000
160,2021,11,27,146,1329.0,2460.0,60.0,66.1,81.000000,54.000000
161,2021,11,28,146,984.2,1920.0,60.0,67.8,86.800003,54.000000
162,2021,11,29,144,1257.9,2520.0,180.0,55.8,74.000000,3.600000
163,2021,11,30,146,1445.8,2520.0,120.0,63.2,74.099998,39.000000
164,2021,12,02,146,1383.3,2400.0,120.0,61.4,84.900002,16.799999
165,2021,12,03,146,1463.4,2460.0,120.0,61.7,77.699997,17.600000
166,2021,12,04,146,1323.7,2280.0,120.0,65.6,73.500000,51.299999
167,2021,12,05,104,1178.7,2040.0,120.0,68.1,78.500000,58.000000
168,2021,12,06,145,1419.3,2580.0,120.0,65.0,75.099998,42.599998
169,2021,12,07,146,1423.2,2520.0,180.0,64.7,81.300003,34.099998
170,2021,12,08,145,1174.3,2460.0,60.0,48.0,84.500000,-1.000000
171,2021,12,09,145,1286.5,2280.0,60.0,57.7,75.000000,10.100000
172,2021,12,10,146,1421.1,2640.0,120.0,60.7,76.300003,6.400000
173,2021,12,11,146,1279.7,2220.0,60.0,67.2,88.400002,55.599998
174,2021,12,12,146,1033.2,2100.0,60.0,67.7,89.000000,56.299999
175,2021,12,13,146,1502.1,2460.0,120.0,64.8,77.000000,44.000000
176,2021,12,14,146,1390.3,2460.0,120.0,63.9,79.000000,21.900000
177,2021,12,16,146,1477.4,2400.0,180.0,63.0,76.000000,15.000000
178,2021,12,17,146,1497.9,2340.0,240.0,58.0,79.000000,7.900000
179,2021,12,18,146,1394.4,2340.0,180.0,66.2,82.000000,51.599998
180,2021,12,19,145,1044.8,2100.0,60.0,66.7,80.000000,50.299999
181,2021,12,20,146,1444.5,2520.0,120.0,65.2,77.500000,49.900002
182,2021,12,21,146,1459.3,2340.0,120.0,64.8,78.000000,51.400002
183,2021,12,22,146,1519.3,2760.0,180.0,64.5,78.300003,47.200001
184,2021,12,23,133,1501.4,2700.0,120.0,64.7,83.500000,55.599998
185,2021,12,24,146,1354.5,2400.0,120.0,66.6,76.000000,55.400002
186,2021,12,25,143,939.4,1980.0,60.0,67.7,82.000000,43.200001
187,2021,12,26,142,1016.2,2040.0,60.0,67.2,76.000000,54.000000
188,2021,12,27,146,1287.9,2100.0,60.0,66.8,75.699997,53.000000
189,2021,12,28,17,384.7,900.0,60.0,70.3,87.199997,52.000000
190,2021,12,29,146,1250.5,2220.0,60.0,66.7,80.000000,55.299999
191,2021,12,30,145,1298.1,2220.0,120.0,67.7,80.699997,59.200001
192,2021,12,31,145,1182.2,2160.0,60.0,68.3,79.300003,57.000000
193,2022,01,01,145,830.9,1920.0,60.0,68.0,80.800003,58.500000
194,2022,01,02,145,928.6,1860.0,60.0,68.2,97.000000,58.000000
195,2022,01,03,146,1327.4,2220.0,120.0,67.3,82.500000,59.700001
196,2022,01,04,146,1314.7,2280.0,60.0,66.4,78.099998,54.299999
197,2022,01,05,146,1314.7,2280.0,60.0,65.7,77.699997,21.100000
198,2022,01,06,134,1457.5,2340.0,360.0,66.1,82.400002,57.599998
199,2022,01,07,146,1451.5,2460.0,120.0,66.4,78.300003,56.200001
200,2022,01,08,146,1276.0,2460.0,60.0,66.8,90.699997,54.599998
201,2022,01,09,146,872.1,1860.0,60.0,68.8,89.000000,48.799999
202,2022,01,10,146,1240.7,2340.0,60.0,60.4,73.199997,28.700001
203,2022,01,11,146,1347.1,2280.0,120.0,65.5,76.900002,41.599998
204,2022,01,12,140,1416.4,2700.0,480.0,65.0,76.300003,50.799999
205,2022,01,13,146,1424.0,2460.0,120.0,64.6,80.400002,52.700001
206,2022,01,14,146,1460.5,2760.0,60.0,64.8,80.500000,52.400002
207,2022,01,15,146,1352.9,2280.0,60.0,66.4,101.000000,56.900002
208,2022,01,16,144,961.3,2040.0,60.0,66.9,78.000000,50.000000
209,2022,01,17,146,1393.6,2460.0,120.0,65.5,74.000000,44.000000
210,2022,01,18,146,1373.8,2580.0,180.0,66.1,78.699997,51.900002
211,2022,01,19,136,1384.0,2400.0,60.0,63.3,75.800003,3.000000
212,2022,01,20,146,1364.4,2280.0,60.0,65.1,76.199997,35.200001
213,2022,01,21,146,1493.0,2820.0,180.0,64.8,87.000000,47.099998
214,2022,01,22,146,1347.1,2280.0,120.0,66.7,79.300003,56.299999
215,2022,01,23,144,981.7,1920.0,60.0,67.7,77.300003,58.000000
216,2022,01,24,146,1378.8,2580.0,60.0,65.5,75.099998,53.799999
217,2022,01,25,147,1398.0,2820.0,60.0,64.4,75.000000,36.900002
218,2022,01,26,146,1443.3,2820.0,240.0,64.5,74.699997,44.900002
219,2022,01,27,146,1440.0,2520.0,120.0,64.7,77.699997,31.500000
220,2022,01,29,144,1438.3,2220.0,120.0,66.5,81.300003,59.700001
221,2022,01,30,146,947.7,1920.0,60.0,68.9,133.000000,57.799999
222,2022,01,31,146,1281.8,2460.0,180.0,66.1,76.500000,50.299999
223,2022,02,01,147,1271.4,2460.0,60.0,65.8,97.000000,48.299999
224,2022,02,02,146,1345.1,2460.0,180.0,64.7,84.000000,37.500000
225,2022,02,03,146,1318.4,2400.0,60.0,64.6,75.300003,5.000000
226,2022,02,04,146,1404.7,2640.0,60.0,65.5,83.099998,33.799999
227,2022,02,05,146,1399.7,2340.0,120.0,66.6,80.400002,56.500000
228,2022,02,06,146,962.1,1800.0,60.0,67.9,86.699997,49.000000
229,2022,02,07,146,1384.1,2460.0,240.0,65.8,80.500000,32.799999
230,2022,02,08,145,1418.5,2340.0,240.0,65.6,75.000000,48.099998
231,2022,02,09,146,1462.6,2820.0,300.0,65.3,75.500000,45.799999
232,2022,02,10,146,1451.1,2820.0,120.0,64.9,75.400002,26.400000
233,2022,02,11,134,1423.0,2460.0,180.0,63.0,76.900002,33.799999
234,2022,02,12,146,1497.1,2460.0,60.0,66.0,78.500000,49.599998
235,2022,02,13,127,1077.2,2220.0,60.0,66.9,85.000000,52.500000
236,2022,02,14,66,1471.8,2220.0,660.0,65.1,73.699997,29.299999
237,2022,02,15,41,1520.5,2220.0,840.0,64.8,74.099998,56.099998
238,2022,02,16,147,1451.8,2400.0,120.0,65.1,75.300003,47.099998
239,2022,02,17,81,1648.9,2700.0,840.0,63.7,72.300003,32.000000
240,2022,02,18,145,1332.8,2640.0,120.0,53.0,76.599998,5.800000
241,2022,02,19,145,1411.4,2640.0,60.0,66.2,84.000000,58.299999
242,2022,02,20,146,1036.4,2280.0,60.0,68.1,85.500000,53.000000
243,2022,02,21,146,1472.5,2760.0,120.0,65.3,78.300003,48.000000
244,2022,02,22,143,1466.4,2700.0,300.0,65.3,81.599998,49.900002
245,2022,02,23,143,1494.5,2760.0,300.0,64.9,74.400002,53.099998
246,2022,02,24,133,1498.2,2580.0,60.0,64.9,77.800003,39.400002
247,2022,02,25,134,1594.0,2520.0,720.0,61.7,72.400002,17.000000
248,2022,02,26,146,1443.3,2700.0,120.0,65.5,74.199997,49.599998
249,2022,02,27,123,1285.4,3000.0,360.0,65.8,75.199997,56.099998
250,2022,02,28,145,1421.4,2460.0,60.0,61.7,78.300003,15.700000
251,2022,03,01,145,1469.4,2640.0,120.0,61.4,72.300003,15.400000
252,2022,03,02,146,1432.2,2820.0,180.0,61.6,81.900002,10.300000
253,2022,03,03,146,1448.2,2460.0,300.0,62.3,82.000000,17.299999
254,2022,03,04,145,1486.8,2580.0,180.0,59.5,73.500000,11.100000
255,2022,03,05,145,1511.6,2580.0,60.0,63.6,78.000000,39.000000
256,2022,03,06,147,1096.7,2160.0,60.0,66.2,79.199997,57.099998
257,2022,03,07,146,1449.5,2700.0,180.0,61.6,74.300003,15.500000
258,2022,03,08,146,1433.0,2520.0,120.0,60.5,72.300003,11.000000
259,2022,03,09,146,1416.2,2580.0,60.0,59.8,88.000000,7.800000
260,2022,03,10,146,1441.2,2460.0,120.0,59.6,76.300003,13.100000
261,2022,03,11,146,1420.3,2460.0,180.0,59.0,73.099998,8.600000
262,2022,03,12,146,1396.4,2700.0,60.0,64.6,84.000000,53.599998
263,2022,03,13,144,1100.0,2160.0,60.0,66.3,99.000000,54.000000
264,2022,03,14,146,1398.5,2460.0,60.0,61.5,81.500000,16.700001
265,2022,03,15,146,1382.9,2580.0,180.0,60.4,76.000000,6.100000
266,2022,03,16,146,1391.1,2640.0,120.0,60.5,72.800003,9.800000

### Wechsel auf Analyse nach Wochentag

In [63]:
query ='''
SELECT  strftime('%w', time, 'localtime') as Weekday, strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl,
       ROUND(AVG(vfr11), 1) AS MEAN_Flow,
       MAX(vfr11) AS MAX_FLOW,
       MIN(vfr11) AS MIN_FLOW,
       ROUND(AVG(s12), 1) AS MEAN_Speed,
       MAX(s12) AS MAX_Speed,
       MIN(s12) AS MIN_Speed   
FROM tcdata_CH_0084_01
WHERE vfr11 > 0
GROUP BY strftime('%w', time, 'localtime') 
 '''

In [64]:
df = pd.read_sql_query(query, conn)

In [65]:
df.head(10)

,Weekday,Year,Month,Day,Anzahl,MEAN_Flow,MAX_FLOW,MIN_FLOW,MEAN_Speed,MAX_Speed,MIN_Speed
0,0,2021,11,21,9166,1061.8,3000.0,60.0,71.0,133.0,19.0
1,1,2021,11,29,9395,1392.2,2880.0,60.0,67.3,104.5,3.6
2,2,2022,03,15,9113,1393.2,2940.0,60.0,67.2,105.0,6.1
3,3,2021,12,08,9330,1417.9,2940.0,60.0,66.4,106.0,-1.0
4,4,2022,02,03,9356,1429.0,2880.0,60.0,65.7,105.0,5.0
5,5,2022,02,18,9339,1461.1,2820.0,60.0,64.8,102.0,5.8
6,6,2021,11,20,10237,1340.6,2700.0,60.0,69.5,117.0,21.9

In [66]:
query ='''
SELECT  strftime('%H', time, 'localtime') as Hour, strftime('%Y', time, 'localtime') as Year, strftime('%m', time, 'localtime') as Month, strftime('%d', time, 'localtime') as Day, COUNT(time) as Anzahl,
       ROUND(AVG(vfr11), 1) AS MEAN_Flow,
       MAX(vfr11) AS MAX_FLOW,
       MIN(vfr11) AS MIN_FLOW,
       ROUND(AVG(s12), 1) AS MEAN_Speed,
       MAX(s12) AS MAX_Speed,
       MIN(s12) AS MIN_Speed   
FROM tcdata_CH_0084_01
WHERE vfr11 > 0
GROUP BY strftime('%H', time, 'localtime') 
 '''

In [67]:
df = pd.read_sql_query(query, conn)

In [69]:
df.head(24)

,Hour,Year,Month,Day,Anzahl,MEAN_Flow,MAX_FLOW,MIN_FLOW,MEAN_Speed,MAX_Speed,MIN_Speed
0,00,2021,07,23,459,294.8,960.0,60.0,75.3,99.500000,39.000000
1,01,2021,07,27,421,191.8,840.0,60.0,75.4,105.000000,39.000000
2,02,2021,07,28,360,148.7,540.0,60.0,74.7,101.000000,22.000000
3,03,2021,07,30,390,139.4,540.0,60.0,74.8,102.000000,33.000000
4,04,2021,07,28,563,218.4,660.0,60.0,74.7,106.000000,43.000000
5,05,2021,11,29,2197,487.7,1560.0,60.0,71.2,133.000000,37.900002
6,06,2021,11,29,4831,1244.8,2940.0,60.0,69.6,102.500000,4.300000
7,07,2022,01,19,4916,1430.1,2940.0,60.0,66.6,97.000000,3.000000
8,08,2021,12,08,5047,1214.0,2340.0,60.0,68.8,87.500000,-1.000000
9,09,2021,12,08,5086,1252.1,2280.0,60.0,68.8,88.400002,4.300000
10,10,2021,12,10,5062,1357.9,2460.0,180.0,68.1,84.400002,6.400000
11,11,2021,10,27,5031,1447.8,2640.0,480.0,68.0,81.199997,28.000000
12,12,2021,12,08,5092,1449.2,2640.0,540.0,68.6,82.800003,30.200001
13,13,2021,12,17,5035,1569.2,2700.0,600.0,67.4,83.300003,9.100000
14,14,2021,12,17,5046,1541.1,2640.0,60.0,67.3,84.500000,7.900000
15,15,2021,10,25,5093,1552.5,2700.0,240.0,67.4,84.900002,18.400000
16,16,2022,02,03,5047,1726.3,3000.0,60.0,62.1,83.400002,5.000000
17,17,2021,09,03,3684,1686.3,2880.0,120.0,56.6,85.800003,6.800000
18,18,2021,09,23,521,1579.6,2340.0,720.0,60.7,82.199997,16.200001
19,19,2021,08,03,158,1103.2,1980.0,120.0,71.7,82.900002,53.200001
20,20,2021,08,03,516,926.0,1680.0,180.0,74.4,88.199997,60.900002
21,21,2021,08,03,502,798.0,1560.0,180.0,74.2,87.800003,58.400002
22,22,2021,07,17,425,677.2,1440.0,120.0,74.5,92.800003,58.099998
23,23,2021,07,24,454,460.4,1440.0,60.0,75.2,104.500000,52.200001