### Qualitätskontrolle 
<ul>
 <li>Dataframe über Monate, Wochen, Tage mit:</li>
 <li>Anzahl Messpunkte, Anzahl vfr=0, Aufteilung Fahrzeug, Durchschnitte, Verteilung vfr + sp nach Bereichen, </li>
 <li></li>
 <li></li>
 <li></li>
</ul>


### Fragen Steckbrief:

<ol>
 <li>Wieviel Verkehr fliesst zu welcher Stunde?</li>
 <li>Wieviel Verkehr fliesst an welchem Tag?</li>
 <li>Was passiert an SA, SO oder Feiertagen?</li>
 <li>Zu jeder dieser Fragen noch die Geschwindigkeit mit hinzu nehmen!</li> 
</ol>
<ul>
 <li>Bem.: Aufteilung nach Art des Fahrzeugs nur als Ergänzung</li>
 <li>Bem.: MIN nur interessant für Identifikation Stau!</li>
 <li>Bem.: MAX evtl. interessant als FunFact!</li>
 <li>Bem.: Entscheiden, wie Null-Werte in die Doku einfliessen</li>
 <li></li>
</ul>

### Darstellung
<ul>
 <li>Wann Tabelle, wann Grafik?</li>
 <li>Tabelle für Durchschnitte</li>
 <li>Violin-Charts, "Uhrzeiger" für Verteilung über den Tag</li>
 <li>Matrix (Wochentag, Stunde) mit Punkten</li>
 <li></li>
</ul>

### Benötigte Auswertungen
<ul>
 <li>Möglichkeit eine Zeitreihe mit einer bestimmten Frequenz abzufragen bzw. darzustellen...</li>
 <li>...zB exakter Wert der Minute oder Durchschnitt einer Stunde</li>
 <li>JOINS über mehrere Fahrspuren</li>
 <li>Ggf JOINS über mehrere Zähler</li>
 <li></li>
</ul>

!pip install sqlalchemy

!pip install plotly

In [34]:
import sqlalchemy as db
from sqlalchemy import create_engine
from sqlalchemy import func

In [4]:
%pwd

'C:\\Users\\peter\\Coding\\Jupyter'

In [5]:
%ls

 Datentr„ger in Laufwerk C: ist Acer
 Volumeseriennummer: DA58-5121

 Verzeichnis von C:\Users\peter\Coding\Jupyter

09.03.2022  11:33    <DIR>          .
07.03.2022  08:55    <DIR>          ..
07.03.2022  08:55    <DIR>          .ipynb_checkpoints
17.05.2021  14:45           884'736 chinook.db
25.02.2022  19:21         2'590'146 country_indicators.csv
25.02.2022  19:31             3'650 DASH_test.ipynb
08.03.2022  10:46           103'594 EDA_Stau.ipynb
25.02.2022  19:27            24'992 getting_started.ipynb
05.03.2022  09:40           271'098 Jupyter_Notebook_CheatSheet_Edureka.pdf
18.02.2022  15:54             6'907 SQL_Alchemy.ipynb
03.03.2022  09:50            25'449 SQLalchemy_test.ipynb
09.03.2022  10:53            49'113 SQLalchemy_test2.ipynb
09.03.2022  11:33            26'315 Steckbrief_tc.ipynb
01.03.2022  13:14             2'284 Sys_path.ipynb
28.02.2022  09:41        94'650'368 tc_sg.db
01.03.2022  13:13             2'284 Untitled.ipynb
06.03.2022  09:46                72 Untitled1.ipynb
              14 Datei(en),     98'641'008 Bytes
               3 Verzeichnis(se), 103'647'825'920 Bytes frei

engine = db.create_engine('sqlite:///tc_sg.db')

In [6]:
engine = db.create_engine('sqlite:///C:\\Users\\peter\\Documents\\Projekte\\Zähler\\tc_sg.db')

### Bemerkung: Man kann den Pfad mit \\ oder dem Einsatz von r angeben! Ganz oben habe ich eine Kopie von 'tc_sg' ins lokale Verzeichnis geschoben.

In [7]:
engine = db.create_engine(r'sqlite:///C:\Users\peter\Documents\Projekte\Zähler\tc_sg.db')

In [8]:
connection = engine.connect()
metadata = db.MetaData()

In [9]:
tr = db.Table('tcdata_CH_0084_01', metadata, autoload=True, autoload_with=engine)

In [10]:
print(tr.columns.keys())

['time', 'vfr11', 's12', 'vfr21', 's22', 'vfr1', 's2']

In [11]:
query = db.select([tr])

In [12]:
result_proxy = connection.execute(query)

In [13]:
result_set = result_proxy.fetchmany(50)

In [14]:
print(result_set)

[('2021-06-19 05:53:00+02:00', 360.0, 81.8000031, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 05:54:00+02:00', 120.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 05:55:00+02:00', 360.0, 76.8000031, 60.0, 82.0, 0.0, 0.0), ('2021-06-19 05:56:00+02:00', 480.0, 79.9000015, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 05:57:00+02:00', 660.0, 79.5999985, 60.0, 79.0, 0.0, 0.0), ('2021-06-19 05:58:00+02:00', 420.0, 81.0, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 05:59:00+02:00', 720.0, 83.4000015, 120.0, 76.0, 0.0, 0.0), ('2021-06-19 06:00:00+02:00', 360.0, 87.3000031, 120.0, 81.0, 0.0, 0.0), ('2021-06-19 06:01:00+02:00', 360.0, 82.6999969, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:02:00+02:00', 660.0, 75.9000015, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:03:00+02:00', 480.0, 85.0999985, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:04:00+02:00', 600.0, 79.6999969, 120.0, 79.5, 0.0, 0.0), ('2021-06-19 06:05:00+02:00', 600.0, 83.0999985, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:06:00+02:00', 720.0, 87.0, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:07:00+02:00', 540.0, 80.1999969, 60.0, 80.0, 0.0, 0.0), ('2021-06-19 06:08:00+02:00', 720.0, 79.8000031, 60.0, 74.0, 0.0, 0.0), ('2021-06-19 06:09:00+02:00', 540.0, 80.1999969, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:10:00+02:00', 600.0, 78.5, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:11:00+02:00', 420.0, 81.9000015, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:12:00+02:00', 360.0, 81.6999969, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:13:00+02:00', 420.0, 80.0999985, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:14:00+02:00', 480.0, 77.9000015, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:15:00+02:00', 360.0, 81.5, 60.0, 76.0, 0.0, 0.0), ('2021-06-19 06:16:00+02:00', 300.0, 79.4000015, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:17:00+02:00', 600.0, 82.0, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:18:00+02:00', 720.0, 81.4000015, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:19:00+02:00', 420.0, 84.4000015, 60.0, 81.0, 0.0, 0.0), ('2021-06-19 06:20:00+02:00', 480.0, 86.3000031, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:21:00+02:00', 600.0, 82.4000015, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:22:00+02:00', 720.0, 81.0, 60.0, 80.0, 0.0, 0.0), ('2021-06-19 06:23:00+02:00', 1020.0, 78.8000031, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:24:00+02:00', 660.0, 78.5999985, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:25:00+02:00', 960.0, 81.0999985, 60.0, 80.0, 0.0, 0.0), ('2021-06-19 06:26:00+02:00', 840.0, 79.4000015, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:27:00+02:00', 660.0, 83.8000031, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:28:00+02:00', 1200.0, 80.5999985, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:29:00+02:00', 660.0, 83.9000015, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:30:00+02:00', 240.0, 77.8000031, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:31:00+02:00', 660.0, 83.5, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:32:00+02:00', 420.0, 84.3000031, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:33:00+02:00', 780.0, 80.5, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:34:00+02:00', 420.0, 86.5999985, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:35:00+02:00', 960.0, 82.8000031, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:36:00+02:00', 960.0, 80.9000015, 60.0, 83.0, 0.0, 0.0), ('2021-06-19 06:37:00+02:00', 840.0, 80.0, 60.0, 74.0, 0.0, 0.0), ('2021-06-19 06:38:00+02:00', 720.0, 79.3000031, 60.0, 82.0, 0.0, 0.0), ('2021-06-19 06:39:00+02:00', 960.0, 80.4000015, 60.0, 82.0, 0.0, 0.0), ('2021-06-19 06:40:00+02:00', 900.0, 81.8000031, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:41:00+02:00', 960.0, 81.0999985, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:42:00+02:00', 420.0, 86.3000031, 0.0, 0.0, 0.0, 0.0)]

In [15]:
import pandas as pd

In [16]:
df = pd.DataFrame(result_set)
print(df.head(5))

                           0      1          2     3     4    5    6
0  2021-06-19 05:53:00+02:00  360.0  81.800003   0.0   0.0  0.0  0.0
1  2021-06-19 05:54:00+02:00  120.0  84.500000   0.0   0.0  0.0  0.0
2  2021-06-19 05:55:00+02:00  360.0  76.800003  60.0  82.0  0.0  0.0
3  2021-06-19 05:56:00+02:00  480.0  79.900002   0.0   0.0  0.0  0.0
4  2021-06-19 05:57:00+02:00  660.0  79.599998  60.0  79.0  0.0  0.0

In [17]:
df.columns = result_set[0].keys()

In [18]:
print(df.head(5))

                        time  vfr11        s12  vfr21   s22  vfr1   s2
0  2021-06-19 05:53:00+02:00  360.0  81.800003    0.0   0.0   0.0  0.0
1  2021-06-19 05:54:00+02:00  120.0  84.500000    0.0   0.0   0.0  0.0
2  2021-06-19 05:55:00+02:00  360.0  76.800003   60.0  82.0   0.0  0.0
3  2021-06-19 05:56:00+02:00  480.0  79.900002    0.0   0.0   0.0  0.0
4  2021-06-19 05:57:00+02:00  660.0  79.599998   60.0  79.0   0.0  0.0

In [19]:
query = db.select([tr]).where(tr.columns.s12 == 84.5)

In [20]:
result_proxy = connection.execute(query)

In [21]:
result_set = result_proxy.fetchmany(50)

In [22]:
print(result_set)

[('2021-06-19 05:54:00+02:00', 120.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-06-19 06:53:00+02:00', 660.0, 84.5, 60.0, 82.0, 0.0, 0.0), ('2021-06-19 20:58:00+02:00', 780.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-06-20 06:09:00+02:00', 120.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-06-22 01:23:00+02:00', 120.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-06-22 22:18:00+02:00', 360.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-06-23 00:33:00+02:00', 120.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-06-26 05:48:00+02:00', 660.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-06-28 23:58:00+02:00', 360.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-06-29 22:48:00+02:00', 360.0, 84.5, 60.0, 82.0, 0.0, 0.0), ('2021-06-30 04:08:00+02:00', 120.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-06-30 05:55:00+02:00', 360.0, 84.5, 180.0, 79.6999969, 0.0, 0.0), ('2021-07-02 00:58:00+02:00', 120.0, 84.5, 60.0, 74.0, 0.0, 0.0), ('2021-07-04 03:13:00+02:00', 120.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-07-04 04:39:00+02:00', 360.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-07-04 06:48:00+02:00', 240.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-07-08 04:54:00+02:00', 240.0, 84.5, 60.0, 76.0, 0.0, 0.0), ('2021-07-09 02:23:00+02:00', 120.0, 84.5, 60.0, 88.0, 0.0, 0.0), ('2021-07-11 04:28:00+02:00', 240.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-07-11 06:57:00+02:00', 120.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-07-11 07:37:00+02:00', 240.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-07-13 22:28:00+02:00', 600.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-07-14 01:23:00+02:00', 240.0, 84.5, 60.0, 78.0, 0.0, 0.0), ('2021-07-14 02:58:00+02:00', 120.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-07-15 03:38:00+02:00', 240.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-07-15 05:55:00+02:00', 600.0, 84.5, 0.0, 0.0, 0.0, 0.0), ('2021-07-25 05:54:00+02:00', 120.0, 84.5, 0.0, 0.0, 0.0, 0.0)]

In [23]:
df = pd.DataFrame(result_set)
df.columns = result_set[0].keys()
print(df.head(50))

                         time  vfr11   s12  vfr21        s22  vfr1   s2
0   2021-06-19 05:54:00+02:00  120.0  84.5    0.0   0.000000   0.0  0.0
1   2021-06-19 06:53:00+02:00  660.0  84.5   60.0  82.000000   0.0  0.0
2   2021-06-19 20:58:00+02:00  780.0  84.5    0.0   0.000000   0.0  0.0
3   2021-06-20 06:09:00+02:00  120.0  84.5    0.0   0.000000   0.0  0.0
4   2021-06-22 01:23:00+02:00  120.0  84.5    0.0   0.000000   0.0  0.0
5   2021-06-22 22:18:00+02:00  360.0  84.5    0.0   0.000000   0.0  0.0
6   2021-06-23 00:33:00+02:00  120.0  84.5    0.0   0.000000   0.0  0.0
7   2021-06-26 05:48:00+02:00  660.0  84.5    0.0   0.000000   0.0  0.0
8   2021-06-28 23:58:00+02:00  360.0  84.5    0.0   0.000000   0.0  0.0
9   2021-06-29 22:48:00+02:00  360.0  84.5   60.0  82.000000   0.0  0.0
10  2021-06-30 04:08:00+02:00  120.0  84.5    0.0   0.000000   0.0  0.0
11  2021-06-30 05:55:00+02:00  360.0  84.5  180.0  79.699997   0.0  0.0
12  2021-07-02 00:58:00+02:00  120.0  84.5   60.0  74.000000   0.0  0.0
13  2021-07-04 03:13:00+02:00  120.0  84.5    0.0   0.000000   0.0  0.0
14  2021-07-04 04:39:00+02:00  360.0  84.5    0.0   0.000000   0.0  0.0
15  2021-07-04 06:48:00+02:00  240.0  84.5    0.0   0.000000   0.0  0.0
16  2021-07-08 04:54:00+02:00  240.0  84.5   60.0  76.000000   0.0  0.0
17  2021-07-09 02:23:00+02:00  120.0  84.5   60.0  88.000000   0.0  0.0
18  2021-07-11 04:28:00+02:00  240.0  84.5    0.0   0.000000   0.0  0.0
19  2021-07-11 06:57:00+02:00  120.0  84.5    0.0   0.000000   0.0  0.0
20  2021-07-11 07:37:00+02:00  240.0  84.5    0.0   0.000000   0.0  0.0
21  2021-07-13 22:28:00+02:00  600.0  84.5    0.0   0.000000   0.0  0.0
22  2021-07-14 01:23:00+02:00  240.0  84.5   60.0  78.000000   0.0  0.0
23  2021-07-14 02:58:00+02:00  120.0  84.5    0.0   0.000000   0.0  0.0
24  2021-07-15 03:38:00+02:00  240.0  84.5    0.0   0.000000   0.0  0.0
25  2021-07-15 05:55:00+02:00  600.0  84.5    0.0   0.000000   0.0  0.0
26  2021-07-25 05:54:00+02:00  120.0  84.5    0.0   0.000000   0.0  0.0

In [24]:
query = db.select([db.func.count(tr.columns.time)]).where(tr.columns.s12 == 84.5)
result_proxy = connection.execute(query)
result_set = result_proxy.fetchmany(10)

In [25]:
result_set

[(27,)]

In [26]:
query = db.select([tr]).where(tr.columns.time == '2021-06-19 05:54:00+02:00')
result_proxy = connection.execute(query)
result_set = result_proxy.fetchmany(10)

In [27]:
df = pd.DataFrame(result_set)
df.columns = result_set[0].keys()
print(df.head(50))

                        time  vfr11   s12  vfr21  s22  vfr1   s2
0  2021-06-19 05:54:00+02:00  120.0  84.5    0.0  0.0   0.0  0.0

### Jetzt eine Query mit einem Zeitintervall

In [28]:
query = db.select([tr]).where(db.and_(tr.columns.time >= '2021-07-16 17:00:00+02:00', tr.columns.time <= '2021-07-16 17:19:00+02:00' ))
result_proxy = connection.execute(query)
result_set = result_proxy.fetchmany(10)

In [29]:
df = pd.DataFrame(result_set)
df.columns = result_set[0].keys()
print(df.head(50))

                        time   vfr11        s12  vfr21   s22  vfr1   s2
0  2021-07-16 17:00:00+02:00  1380.0  19.600000   60.0  24.0   0.0  0.0
1  2021-07-16 17:01:00+02:00  1860.0  35.299999  120.0  40.5   0.0  0.0
2  2021-07-16 17:02:00+02:00  2220.0  37.500000  120.0  42.5   0.0  0.0
3  2021-07-16 17:03:00+02:00  2040.0  36.400002   60.0  40.0   0.0  0.0
4  2021-07-16 17:04:00+02:00  1020.0  11.600000    0.0   0.0   0.0  0.0
5  2021-07-16 17:05:00+02:00  1440.0  20.100000    0.0   0.0   0.0  0.0
6  2021-07-16 17:06:00+02:00  1680.0  32.500000  120.0  35.0   0.0  0.0
7  2021-07-16 17:07:00+02:00  1800.0  36.900002  120.0  39.5   0.0  0.0
8  2021-07-16 17:08:00+02:00  1980.0  35.400002    0.0   0.0   0.0  0.0
9  2021-07-16 17:09:00+02:00  1800.0  35.599998  120.0  39.0   0.0  0.0

In [30]:
query = db.select([tr]).where(tr.columns.time == '2021-06-19 05:54:00+02:00')
result_proxy = connection.execute(query)
result_set = result_proxy.fetchmany(10)

In [35]:
result = connection.execute(db.select([func.max(tr.columns.vfr11)]))
print (result.fetchone())

(2880.0,)

In [36]:
result = connection.execute(db.select([func.max(tr.columns.vfr11).label('MAX')]))
print (result.fetchone())

(2880.0,)

### Nach viel Herumpröbeln bin ich schliesslich zum Schluss gekommen, dass ich mit den Möglichkeiten von Sqlalchemy Core nicht weiter komme

### Hingegen wäre mit ORM, einer Session und der Filter-Funktion die Möglichkeit gegeben, zB "strftime" einzusetzen.

### **Konsequenz:** Code in Python mit "normalen" SQL-Statements